services:
    zigbee2mqtt:
        container_name: zigbee2mqtt
        image: ghcr.io/koenkk/zigbee2mqtt:2.4.0
        ipc: private
        user: "${DOCKER_PUID}:${DOCKER_PGID}"
        restart: unless-stopped
        networks:
            - zigbee2mqtt
        volumes:
            - /opt/docker/zigbee2mqtt/zigbee2mqtt_data:/app/data
#            - /run/udev:/run/udev:ro
        ports:
            # Frontend port
            - 4080:8080
        environment:
            TZ: "${TZ}"
        labels:
            wud.watch: "true"
            wud.tag.include: '^\\d+\\.\\d+\\.\\d+$$$$'
            wud.link.template: 'https://github.com/Koenkk/zigbee2mqtt/releases/tag/v$${major}.$${minor}.$${patch}'
            wud.display.name: 'Zigbee2MQTT'
            wud.display.icon: 'sh:zigbee2mqtt'
networks:
    zigbee2mqtt:
        driver: bridge
        external: false
        name: zigbee2mqtt