services:
    zigbee2mqtt:
        container_name: zigbee2mqtt
        image: ghcr.io/koenkk/zigbee2mqtt:2.4.0
        ipc: private
        user: "${DOCKER_PUID}:${DOCKER_PGID}"
        restart: unless-stopped
        volumes:
            - /opt/docker/zigbee2mqtt/zigbee2mqtt_data:/app/data
#            - /run/udev:/run/udev:ro
        ports:
            # Frontend port
            - 4080:8080
        environment:
            TZ: "${TZ}"