services:
    zigbee2mqtt:
        container_name: zigbee2mqtt
        image: ghcr.io/koenkk/zigbee2mqtt:2.6.2
        ipc: private
        cap_add:
            - AUDIT_WRITE
            - CHOWN
            - DAC_OVERRIDE
            - FOWNER
            - FSETID
            - MKNOD
            - SETFCAP
            - SETGID
            - SETPCAP
            - SETUID
            - SYS_CHROOT
        cap_drop:
            - ALL
        user: "${DOCKER_PUID}:${DOCKER_PGID}"
        restart: unless-stopped
        networks:
            - zigbee2mqtt
        volumes:
            - /opt/docker/zigbee2mqtt/zigbee2mqtt_data:/app/data
#            - /run/udev:/run/udev:ro
        ports:
            # Frontend port
            - 4080:8080
        environment:
            TZ: "${TZ}"
        labels:
            wud.watch: "true"
            wud.tag.include: '^\d+\.\d+\.\d+$$'
            wud.link.template: 'https://github.com/Koenkk/zigbee2mqtt/releases/tag/$${major}.$${minor}.$${patch}'
            wud.display.name: 'Zigbee2MQTT'
            wud.display.icon: 'sh:zigbee2mqtt'
            repliqate.enabled: 'true'
            repliqate.schedule: "@weekly 3am" # Trigger every day at 3 am
            repliqate.backup_id: zigbee2mqtt
            repliqate.retention: "90d" # Keep backups for 30 days
        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "3"
        healthcheck:
            test: 'wget -q -T2 -O- http://localhost:8080/ | grep Zigbee2MQTT || exit 1'
networks:
    zigbee2mqtt:
        driver: bridge
        external: false
        name: zigbee2mqtt