services:
  calibre-web:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: calibre-web
    environment:
      TZ: "${TZ}"
      DOCKER_MODS: "linuxserver/mods:universal-calibre|linuxserver/mods:universal-package-install"
      PUID: "${MEDIA_PUID}"
      PGID: "${MEDIA_PGID}"
      INSTALL_PACKAGES: "libmagic1"
    hostname: calibre-web
    image: linuxserver/calibre-web:0.6.26
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - calibre-web
      - traefik
    ports:
      - 8083:8083/tcp
    labels:
      traefik.enable: "true"
      traefik.http.routers.calibre-web.rule: "Host(`calibre.${DOMAIN_NAME}`)"
      traefik.http.routers.calibre-web.entrypoints: "websecure"
      traefik.http.routers.calibre-web.tls: "true"
      traefik.http.routers.calibre-web.tls.certresolver: "letsencrypt"
      traefik.http.routers.calibre-web.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.calibre-web.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.calibre-web.middlewares: "secHeaders@file"
      traefik.http.services.calibre-web.loadbalancer.server.port: "8083"
      homepage.group: "Media"
      homepage.name: "Calibre-web"
      homepage.icon: "calibre-web.png"
      homepage.href: "https://calibre.${DOMAIN_NAME}"
      homepage.siteMonitor: "https://calibre.${DOMAIN_NAME}"
      homepage.description: "E-book catalogue"
      homepage.widget.fields: "['books', 'authors', 'categories', 'series']"
      homepage.widget.type: "calibreweb"
      homepage.widget.url: "http://10.10.1.13:8083"
      homepage.widget.username: "${HOMEPAGE_CALIBREWEB_USER}"
      homepage.widget.password: "${HOMEPAGE_CALIBREWEB_PASS}"
      wud.watch: "true"
      wud.tag.include: '^v?[0-4]\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/janeczku/calibre-web/releases/tag/$${major}.$${minor}.$${patch}'
      wud.display.name: "Calibre-Web"
      wud.display.icon: "sh-calibre-web"
    restart: unless-stopped
    volumes:
      - /Data/Ebooks:/books
      - /opt/docker/calibre-web/calibre-web_config:/config
networks:
  calibre-web:
    name: calibre-web
    driver: bridge
    external: false
  traefik:
    external: true