services:
  jellyfin:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: jellyfin
    entrypoint: ['/init']
    environment:
      TZ: "${TZ}"
      PUID: "${MEDIA_PUID}"
      PGID: "${MEDIA_PGID}"
    hostname: jellyfin
    image: linuxserver/jellyfin:latest
    ipc: private
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [video]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - jellyfin
      - traefik
    ports:
      - 1900:1900/udp
      - 7359:7359/udp
      - 8096:8096/tcp
      - 8920:8920/tcp
    labels:  
      traefik.enable: "true"
      traefik.http.routers.jellyfin.rule: "Host(`jf.${DOMAIN_NAME}`)"
      traefik.http.routers.jellyfin.entrypoints: "websecure"
      traefik.http.routers.jellyfin.tls: "true"
      traefik.http.routers.jellyfin.tls.certresolver: "letsencrypt"
      traefik.http.services.jellyfin.loadbalancer.server.port: "8096"
      homepage.group: "Media"
      homepage.name: "Jellyfin"
      homepage.icon: "jellyfin.png"
      homepage.href: "https://jf.${DOMAIN_NAME}"
      homepage.description: "E-book catalogue"
      homepage.widget.fields: "['books', 'authors', 'categories', 'series']"
      homepage.widget.type: "jellyfin"
      homepage.widget.url: "http://10.10.1.13:8086"
      homepage.widget.key: "${HOMEPAGE_JELLYFIN_API}"
    restart: unless-stopped
    volumes:
      - /opt/docker/jellyfin/jellyfin_config:/config
      - /Data/TVShows:/tv
      - /Data/Anime:/anime
      - /Data/Cartoons:/cartoons
      - /Data/DocumentaryMovies:/documentary_movies
      - /Data/DocumentaryShows:/documentary_shows
      - /Data/Movies:/movies
    working_dir: /
networks:
  jellyfin:
    name: jellyfin
    driver: bridge
    external: false
  traefik:
    external: true