services:
  jellyfin:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: jellyfin
    entrypoint: ['/init']
    environment:
      TZ: "${TZ}"
      PUID: "${MEDIA_PUID}"
      PGID: "${MEDIA_PGID}"
      JELLYFIN_PublishedServerUrl: "https://jf.${DOMAIN_NAME}"
    hostname: jellyfin
    image: linuxserver/jellyfin:latest
    ipc: private
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [video]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - jellyfin
      - traefik
    ports:
      - 1900:1900/udp
      - 7359:7359/udp
      - 8096:8096/tcp
      - 8920:8920/tcp
    labels:  
      traefik.enable: "true"
      traefik.http.routers.jellyfin.rule: "Host(`jf.${DOMAIN_NAME}`)"
      traefik.http.routers.jellyfin.entrypoints: "websecure"
      traefik.http.routers.jellyfin.tls: "true"
      traefik.http.routers.jellyfin.tls.certresolver: "letsencrypt"
      traefik.http.routers.jellyfin.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.jellyfin.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.jellyfin.middlewares: "jellyfin-mw"
      traefik.http.services.jellyfin.loadbalancer.server.port: "8096"
      traefik.http.middlewares.jellyfin-mw.headers.SSLRedirect: "true"
      traefik.http.middlewares.jellyfin-mw.headers.STSIncludeSubdomains: "true" 
      traefik.http.middlewares.jellyfin-mw.headers.STSPreload: "true"
      traefik.http.middlewares.jellyfin-mw.headers.customrequestheaders.X-Forwarded-Proto: "https"
      homepage.group: "Media"
      homepage.name: "Jellyfin"
      homepage.icon: "jellyfin.png"
      homepage.href: "https://jf.${DOMAIN_NAME}"
      homepage.description: "Media streaming"
      homepage.widget.fields: "['movies', 'series', 'episodes', 'songs']"
      homepage.widget.type: "jellyfin"
      homepage.widget.url: "http://10.10.1.13:8096"
      homepage.widget.key: "${HOMEPAGE_JELLYFIN_API}"
      homepage.widget.enableBlocks: true
      homepage.widget.enableNowPlaying: true
      homepage.widget.enableUser: true 
      homepage.widget.showEpisodeNumber: true
      homepage.widget.expandOneStreamToTwoRows: true
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Jellyfin Server"
      wud.display.icon: "sh:jellyfin"
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/jellyfin/jellyfin/releases/tag/v$${major}.$${minor}.$${patch}"
    healthcheck:
      interval: 3m
      retries: 3
      test: ["CMD", "curl", "-f", "http://localhost:8096/health"]
      timeout: 30s
    restart: unless-stopped
    volumes:
      - /opt/docker/jellyfin/jellyfin_config:/config
      - /Data/TVShows:/tv
      - /Data/Anime:/anime
      - /Data/CartoonMovies:/cartoon_movies
      - /Data/Cartoons:/cartoons
      - /Data/DocumentaryMovies:/documentary_movies
      - /Data/DocumentaryShows:/documentary_shows
      - /Data/Movies:/movies
      - /Data/IT/pinchflat_downloads:/youtube
networks:
  jellyfin:
    name: jellyfin
    driver: bridge
    external: false
  traefik:
    external: true