services:
  n8n:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: n8n
    entrypoint: ['tini','--','/docker-entrypoint.sh']
    environment:
      DB_TYPE: "postgresdb"
      DB_POSTGRESDB_DATABASE: "n8n"
      DB_POSTGRESDB_HOST: "10.10.1.13"
      DB_POSTGRESDB_PORT: "5432"
      DB_POSTGRESDB_USER: "n8n"
      DB_POSTGRESDB_PASSWORD: "${N8N_DB_PASS}"
      TZ: "${TZ}"
    hostname: n8n
    image: docker.n8n.io/n8nio/n8n:latest
    ipc: private
    logging:
      driver: json-file
      options: {}
    networks:
      - bridge-dns
    ports:
      - 5678:5678/tcp
    restart: unless-stopped
    user: node
    volumes:
      - /opt/docker/n8n/n8n_data:/home/node/.n8n
    working_dir: /home/node
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
networks:
  n8n:
    name: n8n
    driver: bridge
    external: false