services:
  ebusd:
    container_name: ebusd
    hostname: ebusd
    image: john30/ebusd:v25.1
    ipc: private
    environment:
      EBUSD_MQTTINT: "/etc/ebusd/mqtt-hassio.cfg"
      EBUSD_MQTTJSON: "true"
      EBUSD_FOREGROUND: ""
      EBUSD_MQTTHOST: "10.10.1.11"
      EBUSD_MQTTPORT: "1883"
      EBUSD_MQTTCLIENTID: "ebusd"
      EBUSD_MQTTVAR: "filter-direction=r|u|^w"
      EBUSD_MQTTLOG: ""
      EBUSD_ACCESSLEVEL: "*"
      EBUSD_SCANCONFIG: ""
      EBUSD_DEVICE: "ens:10.10.25.8:9999"
      EBUSD_MQTTUSER: "${EBUSD_MQTTUSER}"
      EBUSD_MQTTPASS: "${EBUSD_MQTTPASS}"
    labels:
      wud.watch: "true"
      wud.display.icon: "sh-ebusd"
      wud.display.name: "Ebusd"
      wud.tag.include: '^v\d+\.\d$'
      wud.link.template: "https://github.com/john30/ebusd/releases/tag/v$${major}.$${minor}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - ebusd
    ports:
      - 8888:8888/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/ebusd/ebusd_data:/etc/ebusd
networks:
  ebusd:
    name: ebusd
    driver: bridge
    external: false
