services:
  guacamole-guacd:
    container_name: guacamole-guacd 
    hostname: guacamole-guacd
    image: guacamole/guacd:1.6.0
    environment:
      GUACD_LOG_LEVEL: "debug"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - guacamole
    restart: unless-stopped
    healthcheck:
      test: "nc -z 127.0.0.1 4822 || exit 1"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    labels:
      wud.watch: 'true'
      wud.display.icon: 'sh-apache-guacamole-dark'
      wud.display.name: 'Guacamole daemon'
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/apache/guacamole-server/releases/tag/v$${major}.$${minor}.$${patch}'
  guacamole-firefox:
    image: jlesage/firefox:latest
    shm_size: 2G
    ports:
      - "127.0.0.1:5800:5800"
    environment:
      USER_ID: "${DOCKER_PUID}"
      GROUP_ID: "${DOCKER_PGID}"
      TZ: "${TZ}"
      KEEP_APP_RUNNING: 1
      DARK_MODE: 1
      WEB_LISTENING_PORT: 5801
      VNC_LISTENING_PORT: 5901
      SECURE_CONNECTION: 0
      SECURE_CONNECTION_VNC_METHOD: "SSL"
      SECURE_CONNECTION_CERTS_CHECK_INTERVAL: 60
      FF_OPEN_URL: "https://fp.${DOMAIN_NAME}"
    volumes:
      # create ./docker/appdata/firefox/.vncpass_clear pre-startup
      # see https://github.com/jlesage/docker-firefox#vnc-password
      - /opt/docker/guacamole/guacamole-firefox_config:/config:rw
    networks: 
      - guacamole
  guacamole:
    container_name: guacamole
    environment:
      POSTGRESQL_DATABASE: "guacamole"
      POSTGRESQL_USER: "guacamole"
      POSTGRESQL_PASSWORD: "${GUACAMOLE_DB_PASS}"
      GUACD_HOSTNAME: "guacamole-guacd"
      GUACD_PORT: "4822"
      POSTGRESQL_HOSTNAME: "10.10.1.13"
      TOTP_ENABLED: "true"
      WEBAPP_CONTEXT: "ROOT"
      CATALINA_OPTS: "-Djava.net.preferIPv4Stack=true"
    hostname: guacamole
    image: guacamole/guacamole:1.6.0
    depends_on:
      guacamole-guacd:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - guacamole
      - traefik
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.guacamole.rule: "Host(`avocado.${DOMAIN_NAME}`)"
      traefik.http.routers.guacamole.entrypoints: "websecure"
      traefik.http.routers.guacamole.tls: "true"
      traefik.http.routers.guacamole.tls.certresolver: "letsencrypt"
      traefik.http.routers.guacamole.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.guacamole.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.guacamole.middlewares: "secHeaders@file"
      traefik.http.services.guacamole.loadbalancer.server.port: "8080"
      homepage.group: Home
      homepage.name: Guacamole
      homepage.description: Remote access
      homepage.href: https://avocado.${DOMAIN_NAME}
      homepage.icon: sh-baby-buddy.png
      wud.watch: 'true'
      wud.display.icon: 'sh-apache-guacamole-dark'
      wud.display.name: 'Guacamole'
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/apache/guacamole-server/releases/tag/v$${major}.$${minor}.$${patch}'
networks:
  guacamole:
    name: guacamole
    driver: bridge
    external: false
  traefik:
    external: true