services:
  adminer:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command: ['php','-S','[::]:8080','-t','/var/www/html']
    container_name: adminer
    entrypoint: ['entrypoint.sh','docker-php-entrypoint']
    hostname: adminer
    image: adminer:5.3.0
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      homepage.group: "Infrastructure"
      homepage.name: "Adminer"
      homepage.icon: "sh-adminer.png"
      homepage.href: "http://10.10.1.13:9009/"
      homepage.description: "Database management via UI"
      wud.display.name: "Adminer"
      wud.display.icon: "sh:adminer"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/vrana/adminer/releases/tag/v$${major}.$${minor}.$${patch}"
    networks:
      - adminer
    ports:
      - 9009:8080/tcp
    restart: unless-stopped
    user: adminer
    working_dir: /var/www/html
networks:
  adminer:
    name: adminer
    driver: bridge
    external: false