services:
  adventurelog-postgis:
    cap_add:
      - CHOWN
      - FOWNER
      - DAC_OVERRIDE
      - SETUID
      - SETGID
    cap_drop:
      - ALL
    command: ['postgres']
    container_name: adventurelog-postgis
    entrypoint: ['docker-entrypoint.sh']
    environment:
      POSTGRES_USER: "adventurelog"
      PGUSER: "adventurelog"
      POSTGRES_PASSWORD: "${ADVENTURELOG_DB_PASS}"
    hostname: adventurelog-postgis
    image: postgis/postgis:17-3.6-alpine
    ipc: private
    healthcheck:
      test: [ 'CMD-SHELL','pg_isready','-U','adventurelog','-d','adventurelog' ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      wud.watch: "true"
      wud.tag.include: '^17-\d+\.\d+-alpine$$'
      wud.display.name: "AdventureLog - Postgis"
      wud.display.icon: "sh-dawarich"  
    restart: unless-stopped
    volumes:
      - /opt/docker/adventurelog/postgis_data:/var/lib/postgresql/data
    networks:
      - adventurelog
      - adminer
  adventurelog-web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:v0.11.0
    restart: unless-stopped
    environment:
      PUBLIC_SERVER_URL: "http://server:8000"
      BODY_SIZE_LIMIT: "100000"
    labels:
      traefik.enable: "true"
      traefik.http.routers.adventurelog.rule: "Host(`adventure.${DOMAIN_NAME}`)"
      traefik.http.routers.adventurelog.entrypoints: "websecure"
      traefik.http.routers.adventurelog.tls: "true"
      traefik.http.routers.adventurelog.tls.certresolver: "letsencrypt"
      traefik.http.routers.adventurelog.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.adventurelog.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.adventurelog.middlewares: "secHeaders@file"
      traefik.http.services.adventurelog.loadbalancer.server.port: "8000"
      homepage.group: "Media"
      homepage.name: "AdventureLog"
      homepage.icon: "adventurelog.png"
      homepage.href: "https://adventure.${DOMAIN_NAME}"
      homepage.description: "Media tracker"
      homepage.siteMonitor: "https://adventure.${DOMAIN_NAME}"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.display.name: "AdventureLog - Frontend"
      wud.display.icon: "sh:adventurelog"
      wud.link.template: "https://github.com/seanmorley15/AdventureLog/releases/tag/v$${major}.$${minor}.$${patch}"
    depends_on:
      - adventurelog-server
    networks:
      - adventurelog
      - traefik
  adventurelog-server:
    image: ghcr.io/seanmorley15/adventurelog-backend:v0.11.0
    restart: unless-stopped
    environment:
      PGHOST: "adventurelog-postgis"
      PGDATABASE: "adventurelog"
      PGUSER: "adventurelog"
      PGPASSWORD: "${ADVENTURELOG_DB_PASS}"
      SECRET_KEY: "${ADVENTURELOG_SECRET_KEY}"
      DJANGO_ADMIN_USERNAME: "admin"
      DJANGO_ADMIN_PASSWORD: "${ADVENTURELOG_ADMIN_PASS}"
      DJANGO_ADMIN_EMAIL: "${ADMIN_EMAIL}"
      PUBLIC_URL: "https://adventure.${DOMAIN_NAME}"
      CSRF_TRUSTED_ORIGINS: "https://adventure.${DOMAIN_NAME}" 
      DEBUG: "false"
      FRONTEND_URL: "https://adventure.${DOMAIN_NAME}"
    volumes:
      - /opt/docker/adventurelog/adventurelog-media:/code/media
    networks:
      - adventurelog
      - traefik
    depends_on:
      adventurelog-postgis:
        condition: service_healthy
    labels:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.display.name: "AdventureLog - Backend"
      wud.display.icon: "sh:adventurelog"
      wud.link.template: "https://github.com/seanmorley15/AdventureLog/releases/tag/v$${major}.$${minor}.$${patch}"
networks:
  adventurelog:
    external: false
    name: adventurelog
    driver: bridge
  adminer:
    external: true
  traefik:
    external: true