services:
  adventurelog-postgis:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command: ['postgres']
    container_name: adventurelog-postgis
    entrypoint: ['docker-entrypoint.sh']
    environment:
      POSTGRES_USER: "dawarich"
      PGUSER: "dawarich"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    hostname: adventurelog-postgis
    image: postgis/postgis:17-3.5-alpine
    ipc: private
    healthcheck:
      test: [ 'CMD-SHELL','pg_isready','-U','dawarich','-d','dawarich' ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      wud.watch: "true"
      wud.tag.include: '^17-\d+\.\d+-alpine$$'
      wud.display.name: "AdventureLog - Postgis"
      wud.display.icon: "sh-dawarich"  
    networks:
      - adventurelog
    restart: unless-stopped
    volumes:
      - /opt/docker/adventurelog/postgis_data:/var/lib/postgresql/data

  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest
    restart: unless-stopped
    environment:
      PUBLIC_SERVER_URL: "http://server:8000"
      BODY_SIZE_LIMIT: "100000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adventurelogweb.entrypoints=websecure"
      - "traefik.http.routers.adventurelogweb.rule=Host(`yourdomain.com`) && !(PathPrefix(`/media`) || PathPrefix(`/admin`) || PathPrefix(`/static`) || PathPrefix(`/accounts`))" # Replace with your domain
      - "traefik.http.routers.adventurelogweb.tls=true"
      - "traefik.http.routers.adventurelogweb.tls.certresolver=letsencrypt"
    depends_on:
      - server

  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:latest
    restart: unless-stopped
    environment:
      PGHOST: "db"
      PGDATABASE: "database"
      PGUSER: "adventure"
      PGPASSWORD: your_postgres_password # Replace with the actual password
      SECRET_KEY: your_secret_key # Replace with the actual secret key
      DJANGO_ADMIN_USERNAME: "admin"
      DJANGO_ADMIN_PASSWORD: your_admin_password # Replace with the actual admin password
      DJANGO_ADMIN_EMAIL: "adventurelog-admin@yourdomain.com" # Replace with your email
      PUBLIC_URL: "https://yourdomain.com" # Replace with your domain
      CSRF_TRUSTED_ORIGINS: "https://yourdomain.com" # Replace with your domain
      DEBUG: "false"
      FRONTEND_URL: "https://yourdomain.com" # Replace with your domain
    volumes:
      - adventurelog-media:/code/media
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adventurelogserver.entrypoints=websecure"
      - "traefik.http.routers.adventurelogserver.rule=Host(`yourdomain.com`) && (PathPrefix(`/media`) || PathPrefix(`/admin`) || PathPrefix(`/static`) || PathPrefix(`/accounts`))" # Replace with your domain
      - "traefik.http.routers.adventurelogserver.tls=true"
      - "traefik.http.routers.adventurelogserver.tls.certresolver=letsencrypt"
    depends_on:
      - db