services:
  babybuddy:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: babybuddy
    entrypoint: ["/init"]
    environment:
      TZ: "${TZ}"
      CSRF_TRUSTED_ORIGINS: "https://baby.${DOMAIN_NAME},http://10.10.1.13:3938"
      DEBUG: "true"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: babybuddy
    image: linuxserver/babybuddy:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - babybuddy
      - traefik
    ports:
      - 3938:8000/tcp
    labels:  
      traefik.enable: "true"
      traefik.http.routers.babybuddy.rule: "Host(`baby.${DOMAIN_NAME}`)"
      traefik.http.routers.babybuddy.entrypoints: "websecure"
      traefik.http.routers.babybuddy.tls: "true"
      traefik.http.routers.babybuddy.tls.certresolver: "letsencrypt"
      traefik.http.services.babybuddy.loadbalancer.server.port: "8000"
      homepage.description: Baby journal
      homepage.group: Home
      homepage.href: https://baby.${DOMAIN_NAME}
      homepage.icon: sh-baby-buddy.png
      homepage.name: Babybuddy
    restart: unless-stopped
    volumes:
      - /opt/docker/babybuddy/babybuddy_data:/config
    working_dir: /
networks:
  babybuddy:
    name: babybuddy
    driver: bridge
    external: false
  traefik:
    external: true