services:
  pinchflat:
    user:  "${MEDIA_PUID}:${MEDIA_PGID}"
    container_name: pinchflat
    image: ghcr.io/kieraneglin/pinchflat:v2025.9.26
    hostname: pinchflat
    logging:
      driver: json-file
      options:
        max-file: "3"
        max-size: 10m
    networks:
      - pinchflat
    restart: unless-stopped
    ipc: private
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    environment:
      TZ: "${TZ}"
    labels:
      homepage.group: "Media"
      homepage.name: "Pinchflat"
      homepage.icon: "sh-pinchflat.png"
      homepage.href: "http://10.10.1.13:8945"
      homepage.siteMonitor: "http://10.10.1.13:8945"
      wud.watch: 'true'
      wud.display.icon: 'sh-pinchflat'
      wud.display.name: 'Pinchflat'
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/kieraneglin/pinchflat/releases/tag/v$${major}.$${minor}.$${patch}'
    ports:
      - '8945:8945'
    volumes:
      - /opt/docker/pinchflat/pinchflat_config:/config
      - /Data/IT/pinchflat_downloads:/downloads
networks:
  pinchflat:
    name: pinchflat
    driver: bridge
    external: false