services:
  freshrss-postgres:
    image: docker.io/postgres:17-alpine
    ipc: private
    restart: unless-stopped
    healthcheck:
      test: pg_isready -q -t 2 -d $$POSTGRES_DB -U $$POSTGRES_USER
      start_period: 20s
      timeout: 30s
      interval: 10s
      retries: 5
    environment:
      POSTGRES_DB: "freshrss"
      POSTGRES_PASSWORD: "${FRESHRSS_POSTGRES_PASS}"
      POSTGRES_USER: "freshrss"
    deploy:
      resources:
        limits:
          memory: 200m
        reservations:
          memory: 50m
    volumes:
      - /opt/docker/freshrss/freshrss_postgres-data:/var/lib/postgresql/data
    networks:
      - freshrss
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    ipc: private
    environment: 
      TRUSTED_PROXIES: "traefik"
      TZ: "${TZ}"
      BASE_URL: "rss.${DOMAIN_NAME}"
      CRON_MIN: "*/10"
      ADMIN_EMAIL : "ddd@ddd.pl"
      ADMIN_PASSWORD: "freshrss"
      ADMIN_API_PASSWORD: "freshrss"
      DB_TYPE: "pgsql"
      DB_HOST: ""
      DB_USER: "freshrss"
      DB_BASE: "freshrss"
      DB_PASS: "${FRESHRSS_POSTGRES_PASS}"
      FRESHRSS_INSTALL: |-
        --api-enabled
        --base-url rss.${DOMAIN_NAME}
        --db-base freshrss
        --db-host freshrss-postgres
        --db-password ${FRESHRSS_POSTGRES_PASS}
        --db-type pgsql
        --db-user freshrss
        --default-user michal
        --language en
      FRESHRSS_USER: |-
        --api-password ${FRESHRSS_ADMIN_API_PASS}
        --email ${ADMIN_EMAIL}
        --language en
        --password ${FRESHRSS_ADMIN_PASS}
        --user admin
    labels:
      traefik.enable: "true"
      traefik.http.routers.freshrss.rule: "Host(`rss.${DOMAIN_NAME}`)"
      traefik.http.routers.freshrss.entrypoints: "websecure"
      traefik.http.routers.freshrss.tls: "true"
      traefik.http.routers.freshrss.tls.certresolver: "letsencrypt"
      traefik.http.routers.freshrss.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.freshrss.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.services.freshrss.loadbalancer.server.port: "80"
      homepage.group: "Home"
      homepage.name: "FreshRSS"
      homepage.icon: "sh-freshrss.png"
      homepage.href: "https://rss.${DOMAIN_NAME}"
      homepage.description: "RSS news reader and aggregator"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.tag.include: '^?\d+\.\d+\.\d+$$'
      wud.display.name: "FreshRSS"
      wud.display.icon: "sh:freshrss"
      wud.link.template: "https://github.com/FreshRSS/FreshRSS/releases/$${major}.$${minor}.$${patch}"
    depends_on:
      freshrss-postgres:
        condition: service_healthy
    ports:
      - "8020:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/docker/freshrss/freshrss_data:/var/www/FreshRSS/data
      - /opt/docker/freshrss/freshrss_extensions:/var/www/FreshRSS/extensions
    networks:
      - freshrss
      - traefik
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
        
networks:
  freshrss:
    name: freshrss
    driver: bridge
  traefik:
    name: traefik
    external: true    