services:
  deceptifeed:
    image: deceptifeed/server:0.68.0
    container_name: deceptifeed
    environment:
      TZ: "${TZ}"
    networks:
      - deceptifeed
      - traefik
    ports:
      - "12222:2222"
      - "19000:9000"
    labels:
      traefik.enable: "true"
      traefik.http.routers.deceptifeed-http.rule: "HostRegexp(`{host:.+}`) || PathPrefix(`/`)"
      traefik.http.routers.deceptifeed-http.entrypoints: "web"
      traefik.http.routers.deceptifeed-http.priority: "1"
      traefik.http.routers.deceptifeed-http.service: "deceptifeed-http-svc"
      traefik.http.services.deceptifeed-http-svc.loadbalancer.server.port: "8080"
      traefik.http.routers.deceptifeed-https.rule: "HostRegexp(`{host:.+}`) || PathPrefix(`/`)"
      traefik.http.routers.deceptifeed-https.entrypoints: "websecure"
      traefik.http.routers.deceptifeed-https.priority: "1"
      traefik.http.routers.deceptifeed-https.service: "deceptifeed-https-svc"
      traefik.http.services.deceptifeed-https-svc.loadbalancer.server.port: "8443"
      traefik.http.services.deceptifeed-https-svc.loadbalancer.server.scheme: "https"
      traefik.http.routers.deceptifeed-https.tls: "true"
      traefik.http.routers.deceptifeed-https.tls.certresolver: "letsencrypt"
      traefik.http.routers.deceptifeed-https.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.deceptifeed-https.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/r-smith/deceptifeed/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: "Deceptifeed"
      wud.display.icon: "sh-deceptifeed"
    volumes:
      - /opt/docker/deceptifeed/deceptifeed_data:/data/
    restart: unless-stopped
networks:
  deceptifeed:
    name: deceptifeed
    driver: bridge
    external: false
  traefik:
    external: true