services:
  deceptifeed:
    image: deceptifeed/server:latest
    container_name: deceptifeed
    environment:
      TZ: "${TZ}"
    ports:
      - "12222:2222"
      - "18080:8080"
      - "18443:8443"
      - "19000:9000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deceptifeed-https.rule=Host(`/`)"
      - "traefik.http.routers.deceptifeed-https.entrypoints=websecure"
      - "traefik.http.routers.deceptifeed-https.priority=1"
      - "traefik.http.routers.deceptifeed-https.tls=true"
      - "traefik.http.routers.deceptifeed-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.deceptifeed-https.tls.domains[0].main=${DOMAIN_NAME}"
      - "traefik.http.routers.deceptifeed-https.tls.domains[0].sans=*.${DOMAIN_NAME}"
      - "traefik.http.services.deceptifeed-https.loadbalancer.server.port=8443"
      - "traefik.http.routers.deceptifeed-https.rule=Host(`/`)"
      - "traefik.http.routers.deceptifeed-https.entrypoints=web"
      - "traefik.http.routers.deceptifeed-https.priority=1"
      - "traefik.http.routers.deceptifeed-https.tls=true"
      - "traefik.http.routers.deceptifeed-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.deceptifeed-https.tls.domains[0].main=${DOMAIN_NAME}"
      - "traefik.http.routers.deceptifeed-https.tls.domains[0].sans=*.${DOMAIN_NAME}"
      - "traefik.http.services.deceptifeed-https.loadbalancer.server.port=8080"
    volumes:
      - /opt/docker/deceptifeed/deceptifeed_data:/data/
    restart: unless-stopped
networks:
  deceptifeed:
    name: deceptifeed
    driver: bridge
    external: false