services:
  hortusfox:
    user: "1003:100"
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command:
      - apache2-foreground
    container_name: hortusfox
    entrypoint:
      - docker-entrypoint.sh
    environment:
      APP_ADMIN_EMAIL: "${ADMIN_EMAIL}"
      APP_ADMIN_PASSWORD: "${HORTUSFOX_ADMIN_PASS}"
      APP_TIMEZONE: "${TZ}"
      DB_HOST: "10.10.1.13"
      DB_PORT: "3306"
      DB_DATABASE: "hortusfox"
      DB_USERNAME: "hortusfox"
      DB_CHARSET: "utf8mb4"
      DB_PASSWORD: "${HORTUSFOX_DB_PASS}"
      APP_DEBUG: "true"
    hostname: hortusfox
    image: ghcr.io/danielbrendel/hortusfox-web:v5.0
    ipc: private
    labels:
      homepage.group: "Home"
      homepage.name: "HortusFox"
      homepage.icon: "sh-hortusfox.png"
      homepage.href: "http://${DOMAIN_NAME}:4142"
      homepage.description: "Garden plant manager"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.tag.include: '^v\d+\.\d+\$$'
      wud.link.template: "https://github.com/danielbrendel/hortusfox-web/releases/tag/v${major}.${minor}"
      wud.display.name: "Frigate"
      wud.display.icon: "mdi:cctv"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - hortusfox
    ports:
      - 4142:80/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/hortusfox/hortusfox_logs:/var/www/html/app/logs
      - /opt/docker/hortusfox/hortusfox_backup:/var/www/html/public/backup
      - /opt/docker/hortusfox/hortusfox_themes:/var/www/html/public/themes
      - /opt/docker/hortusfox/hortusfox_migrate:/var/www/html/app/migrations
      - /opt/docker/hortusfox/hortusfox_images:/var/www/html/public/img
    working_dir: /var/www/html
networks:
  hortusfox:
    driver: bridge
    name: hortusfox
    external: false