services:
  wud-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: wud-socket-proxy
    restart: unless-stopped
    networks:
      - wud
    environment:
      CONTAINERS: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  wud:
    image: getwud/wud
    container_name: wud
    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    depends_on:
    - wud-socket-proxy
    environment:
      TZ: "${TZ}"
      WUD_WATCHER_R720OMV_HOST: wud-socket-proxy	
    ports:
      - 3009:3009
    networks:
      - wud
networks:
  wud:
    name: wud
    driver: bridge
    external: false