services:
  wud-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: wud-socket-proxy
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    mem_limit: 64M
    cap_drop:
      - ALL
    networks:
      - wud
    environment:
      CONTAINERS: "1"
      IMAGES: "1"
    labels:
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/Tecnativa/docker-socket-proxy/releases/tag/v$${major}.$${minor}.$${patch}"
      wud.display.name: 'Docker Socket Proxy - Whats Up Docker?'
      wud.display.icon: 'mdi:connection'
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "2375"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  wud:
    image: getwud/wud
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/docker/wud/wud_store:/store
      - /etc/localtime:/etc/localtime:ro
    ipc: private
    security_opt:
      - no-new-privileges:true
    environment:
      TZ: "${TZ}"
#      WUD_WATCHER_R720OMV_HOST: wud-socket-proxy
#      WUD_WATCHER_R720OMV_PORT: "2375"
#      WUD_WATCHER_R720OMV_WATCHALL: "true"
#      WUD_WATCHER_R720OMV_SOCKET: "tcp://wud-socket-proxy:2375"
#      WUD_WATCHER_R720OMV_WATCHEVENTS: "false"
#      WUD_WATCHER_R720OMV_CRON: '0 1 * * *'
      WUD_WATCHER_LOCAL_SOCKET: '/var/run/docker.sock'
      WUD_SERVER_FEATURE_DELETE: "false"
      WUD_LOG_LEVEL: "debug"
      WUD_REGISTRY_GHCR_PRIVATE_USERNAME: "${ADMIN_EMAIL}"
      WUD_REGISTRY_GHCR_PRIVATE_TOKEN: "${WUD_GHCR_TOKEN}"
      WUD_REGISTRY_LSCR_PRIVATE_USERNAME: "${ADMIN_EMAIL}"
      WUD_REGISTRY_LSCR_PRIVATE_TOKEN: "${WUD_GHCR_TOKEN}"
      WUD_REGISTRY_GITEA_BRICKTRACKER_URL: "https://gitea.baerentsen.space/"
    labels:
      homepage.group: "Infrastructure"
      homepage.name: "Whats up Docker?"
      homepage.icon: "sh-whats-up-docker.png"
      homepage.href: "http://10.10.1.13:3009"
      homepage.description: "Docker updates manager"
      homepage.widget.type: "whatsupdocker"
      homepage.widget.url: "http://10.10.1.13:3009"
      homepage.widget.fields: "['monitoring', 'updates']"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$'
      wud.link.template: "https://getwud.github.io/wud/#/changelog/?id=_$${major}$${minor}$${patch}"
      wud.display.name: "Whats Up Docker?"
      wud.display.icon: "sh:wud"
    healthcheck:
      test: curl --fail http://localhost:3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      wud-socket-proxy:
        condition: service_healthy
    ports:
      - 3009:3000
    networks:
      - wud
networks:
  wud:
    name: wud
    driver: bridge
    external: false