services:
  wud-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: wud-socket-proxy
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    networks:
      - wud
    environment:
      CONTAINERS: "1"
      IMAGES: "1"
    labels:
      - 'wud.watch=true'
      - 'wud.display.name=${SERVICE}'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/Tecnativa/docker-socket-proxy/releases/tag/v$${major}.$${minor}.$${patch}'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  wud:
    image: getwud/wud
    container_name: wud
    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    depends_on:
    - wud-socket-proxy
    ipc: private
    security_opt:
      - no-new-privileges:true
    environment:
      TZ: "${TZ}"
      WUD_WATCHER_R720OMV_HOST: wud-socket-proxy
      WUD_WATCHER_R720OMV_PORT: "2375"
      WUD_WATCHER_R720OMV_WATCHALL: "true"
      WUD_WATCHER_R720OMV_SOCKET: "tcp://wud-socket-proxy:2375"
      WUD_WATCHER_R720OMV_WATCHEVENTS: "false"
      WUD_REGISTRY_GHCR_PRIVATE_USERNAME: "${ADMIN_EMAIL}"
      WUD_REGISTRY_GHCR_PRIVATE_TOKEN: "${WUD_GHCR_TOKEN}"
      WUD_REGISTRY_LSCR_PRIVATE_USERNAME: "${ADMIN_EMAIL}"
      WUD_REGISTRY_LSCR_PRIVATE_TOKEN: "${WUD_GHCR_TOKEN}"
    labels:
      - 'wud.watch=true'
      - 'wud.display.name=${SERVICE}'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}'
    ports:
      - 3009:3000
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s 
    networks:
      - wud
networks:
  wud:
    name: wud
    driver: bridge
    external: false