services:
  yamtrack:
    container_name: yamtrack
    image: ghcr.io/fuzzygrim/yamtrack:0.24.6
    restart: unless-stopped
    depends_on:
      - yamtrack-postgres
      - yamtrack-redis
    environment:
      TZ: "${TZ}"
      SECRET: "${YAMTRACK_SECRET}"
      REDIS_URL: "redis://yamtrack-redis:6379"
      DB_HOST: "yamtrack-postgres"
      DB_NAME: "yamtrack"
      DB_USER: "yamtrack"
      DB_PASSWORD: "${YAMTRACK_DB_PASS}"
      DB_PORT: "5432"
      URLS: "mediatracker.${DOMAIN_NAME}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.yamtrack.rule: "Host(`mediatracker.${DOMAIN_NAME}`)"
      traefik.http.routers.yamtrack.entrypoints: "websecure"
      traefik.http.routers.yamtrack.tls: "true"
      traefik.http.routers.yamtrack.tls.certresolver: "letsencrypt"
      traefik.http.routers.yamtrack.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.yamtrack.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.yamtrack.middlewares: "secHeaders@file"
      traefik.http.services.yamtrack.loadbalancer.server.port: "80"
      homepage.group: "Media"
      homepage.name: "Yamtrack"
      homepage.icon: "yamtrack.png"
      homepage.href: "https://mediatracker.${DOMAIN_NAME}"
      homepage.description: "Media tracker"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.display.name: "Yamtrack"
      wud.display.icon: "sh:yamtrack"
      wud.link.template: "https://github.com/FuzzyGrim/Yamtrack/releases/tag/v$${major}.$${minor}.$${patch}"
    ports:
      - "5743:8000"
    networks:
      - yamtrack
      - traefik

  yamtrack-postgres:
    image: postgres:16-alpine
    container_name: yamtrack-postgres
    environment:
      POSTGRES_DB: "yamtrack"
      POSTGRES_USER: "yamtrack"
      POSTGRES_PASSWORD: "${YAMTRACK_DB_PASS}"
    volumes:
      - /opt/docker/yamtrack/yamtrack-postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - yamtrack

  yamtrack-redis:
    container_name: yamtrack-redis
    image: redis:8.0.3
    restart: unless-stopped
    volumes:
      - /opt/docker/yamtrack/yamtrack-redis_data:/data
    networks:
      - yamtrack
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    labels:
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Yamtrack Redis"
      wud.display.icon: "sh-yamtrack"
      wud.tag.include: '^$v\d+.\d+\.\d+$$'
      wud.link.template: 'https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}'
networks:
  yamtrack:
    external: false
    name: yamtrack
    driver: bridge
  traefik:
    external: true