services:
  homepage-socket-proxy:
    image: tecnativa/docker-socket-proxy:0.3.0
    container_name: homepage-socket-proxy
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    mem_limit: 64M
    cap_drop:
      - ALL
    networks:
      - homepage
    environment:
      CONTAINERS: "1"
      SERVICES: "1"
      TASKS: "1"
      POST: "0"
    labels:
      wud.watch: "true"
      wud.tag.include: '^\\d+\\.\\d+\\.\\d+$$$$'
      wud.link.template: 'https://github.com/Tecnativa/docker-socket-proxy/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: 'Docker Socket Proxy - Homepage'
      wud.display.icon: 'mdi:connection'
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "2375"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "fp.${DOMAIN_NAME},10.10.1.13:3008"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    ports:
      - 3008:3000
    volumes:
      - /opt/docker/homepage/homepage_config:/app/config
    restart: unless-stopped
    networks:
      - homepage
      - traefik
networks:
  homepage:
    name: homepage
    driver: bridge
    external: false
  traefik:
    external: true