services:
  homepage-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: homepage-socket-proxy
    restart: unless-stopped
    networks:
      - homepage
    environment:
      CONTAINERS: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "fp.${DOMAIN_NAME},10.10.1.13:3008"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    ports:
      - 3008:3000
    volumes:
      - /opt/docker/homepage/homepage_config:/app/config
    restart: unless-stopped
    networks:
      - homepage
      - traefik
networks:
  homepage:
    name: homepage
    driver: bridge
    external: false
  traefik:
    external: true