services:
  backblaze-personal-wine:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
      - DAC_OVERRIDE
      - FSETID
      - FOWNER
      - MKNOD
      - KILL
    command: ['/init']
    container_name: backblaze-personal-wine
    environment:
#      USER_ID: "1003"
#      GROUP_ID: "100"
      UMASK: "0022"
      LANG: "en_GB.UTF-8"
      KEEP_APP_RUNNING: "0"
      APP_NICENESS: "1"
      CONTAINER_DEBUG: "0"
      DISPLAY_WIDTH: "900"
      DISPLAY_HEIGHT: "700"
      WEB_LISTENING_PORT: "5800"
      VNC_LISTENING_PORT: "5900"
      VNC_PASSWORD: ""
    hostname: backblaze-personal-wine
    image: tessypowder/backblaze-personal-wine:ubuntu22
    ipc: private
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5800"]
      interval: 10s
      timeout: 5s
      retries: 3
    labels:
      homepage.group: "Instrastructure"
      homepage.name: "Backblaze Backup"
      homepage.icon: "sh-backblaze.png"
      homepage.href: "http://10.10.1.13:5800"
      homepage.description: "Backblaze external backups"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.tag.include: '^\d+\.\d+\$$'
      wud.link.template: "https://github.com/JonathanTreffler/backblaze-personal-wine-container/releases/tag/v${major}.${minor}"
      wud.display.name: "Blackblaze"
      wud.display.icon: "sh-backblaze"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - backblaze-personal-wine
    ports:
      - 5800:5800/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/backblaze-personal-wine/backblaze_data:/config
      - /Data:/storage
    working_dir: /tmp
networks:
  backblaze-personal-wine:
    driver: bridge
    name: backblaze-personal-wine
    external: false