version: "3"
services:
  backblaze-personal-wine:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command:
      - /init
    container_name: backblaze-personal-wine
    environment:
      - TZ=Europe/London
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/base/sbin:/opt/base/bin
      - ENV=/root/.docker_rc
      - USER_ID=1000
      - GROUP_ID=1000
      - SUP_GROUP_IDS=
      - UMASK=0022
      - LANG=en_US.UTF-8
      - KEEP_APP_RUNNING=0
      - APP_NICENESS=0
      - INSTALL_PACKAGES=
      - PACKAGES_MIRROR=
      - CONTAINER_DEBUG=0
      - DISPLAY_WIDTH=900
      - DISPLAY_HEIGHT=700
      - DARK_MODE=0
      - SECURE_CONNECTION=0
      - SECURE_CONNECTION_VNC_METHOD=SSL
      - SECURE_CONNECTION_CERTS_CHECK_INTERVAL=60
      - WEB_LISTENING_PORT=5800
      - VNC_LISTENING_PORT=5900
      - VNC_PASSWORD=
      - ENABLE_CJK_FONT=0
      - WINEPREFIX=/config/wine/
      - 'APP_NAME=Backblaze Personal Backup'
      - FORCE_LATEST_UPDATE=true
      - DISABLE_AUTOUPDATE=true
      - DISABLE_VIRTUAL_DESKTOP=false
      - WINEDEBUG=-all
      - DISPLAY=:0
    hostname: backblaze-personal-wine
    image: tessypowder/backblaze-personal-wine:ubuntu22
    ipc: private
    logging:
      driver: json-file
      options: {}
    networks:
      - backblaze-personal-wine
    ports:
      - 5800:5800/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/backblaze-personal-wine/backblaze_data:/config
      - /Data:/storage
    working_dir: /tmp
networks:
  backblaze-personal-wine:
    driver: bridge
    name: backblaze-personal-wine
    external: false
