services:
  nextcloud:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: nextcloud
    entrypoint:
      - /init
    environment:
      TZ: "${TZ}"
      PUID: "1001"
      PGID: "100"
    hostname: nextcloud
    image: linuxserver/nextcloud:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - nextcloud
    ports:
      - 1357:80/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/nextcloud/nextcloud_config:/config
      - /Data/IT/nextcloud:/data
    working_dir: /
    healthcheck:
      test: 'runuser -s /usr/local/bin/php - www-data /var/www/html/occ status 2>/dev/null | grep -e "installed: true" -e "maintenance: false" -e "needsDbUpgrade: false" | wc -l | [ "`cat`" = "3" ]'
      interval: 60s
      retries: 5
      start_period: 10s
      timeout: 10s
networks:
  nextcloud:
    driver: bridge
    name: nextcloud
    external: false