services:
  nextcloud:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: nextcloud
    entrypoint:
      - /init
    environment:
      TZ: "${TZ}"
      PUID: "1001"
      PGID: "100"
    hostname: nextcloud
    image: linuxserver/nextcloud:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - nextcloud
      - traefik
    ports:
      - 1357:80/tcp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nc.${DOMAIN_NAME}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
    restart: unless-stopped
    volumes:
      - /opt/docker/nextcloud/nextcloud_config:/config
      - /Data/IT/nextcloud:/data
    working_dir: /
    healthcheck:
      test: ["CMD-SHELL", "curl -Ss http://localhost/status.php | grep '\"installed\":true' || exit 1"]
      interval: 60s
      retries: 5
      start_period: 10s
      timeout: 10s
networks:
  nextcloud:
    driver: bridge
    name: nextcloud
    external: false
  traefik:
    external: true