services:
  nextcloud-valkey:
    container_name: nextcloud-valkey
    image: docker.io/valkey/valkey:9.0.0-alpine
    ipc: private
    command: ['valkey-server','--save','30','1','--loglevel','warning']
    restart: unless-stopped
    networks:
      - nextcloud
    volumes:
      - /opt/docker/nextcloud/valkey-data:/data
    environment:
      TZ: "${TZ}"
      ALLOW_EMPTY_PASSWORD: "no"
      VALKEY_PASSWORD: "${NEXTCLOUD_VALKEY_PASS}"
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - CHOWN
    cap_drop:
      - ALL
    labels:
      wud.display.name: "Vouchervault - Valkey"
      wud.display.icon: "sh:nextcloud"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+\-alpine$$'
      wud.link.template: 'https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
    healthcheck: 
      test: '[ $$(valkey-cli ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
  nextcloud:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    container_name: nextcloud
    entrypoint:
      - /init
    environment:
      TZ: "${TZ}"
      PUID: "1001"
      PGID: "100"
      PHP_MEMORY_LIMIT: "4096M"
      PHP_MAX_CHILDREN: "120"
      PHP_START_SERVERS: "12"
      PHP_MIN_SPARE_SERVERS: "6"
      PHP_MAX_SPARE_SERVERS: "18"
      PHP_UPLOAD_LIMIT: "16G"
      APACHE_BODY_LIMIT: "0"
      REDIS_HOST: "nextcloud-valkey"
      REDIS_HOST_PASSWORD: "${NEXTCLOUD_VALKEY_PASS}"
      REDIS_HOST_PORT: "6379"
    hostname: nextcloud
    image: linuxserver/nextcloud:32.0.2
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 6G
          cpus: '2.0'
        reservations:
          memory: 2G
          cpus: '0.5'
    networks:
      - nextcloud
      - traefik
    ports:
      - 1357:80/tcp
    labels:
      traefik.enable: "true"
      traefik.http.routers.nextcloud.rule: "Host(`nc.${DOMAIN_NAME}`)"
      traefik.http.routers.nextcloud.entrypoints: "websecure"
      traefik.http.routers.nextcloud.tls: "true"
      traefik.http.routers.nextcloud.tls.certresolver: "letsencrypt"
      traefik.http.services.nextcloud.loadbalancer.server.port: "80"
      traefik.http.routers.nextcloud.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.nextcloud.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.services.nextcloud.loadbalancer.passhostheader: "true"
      traefik.http.routers.nextcloud.middlewares: "secHeaders@file,nextcloud-redirectregex1,nextcloud-redirectregex2,compresstraefik,nextcloud-securityheaders"
      traefik.http.middlewares.compresstraefik.compress: "true"
      traefik.http.middlewares.nextcloud-redirectregex1.redirectregex.permanent: "true"
      traefik.http.middlewares.nextcloud-redirectregex1.redirectregex.regex: "https?://([^/]*)/.well-known/(card|cal)dav"
      traefik.http.middlewares.nextcloud-redirectregex1.redirectregex.replacement: "https://$${1}/remote.php/dav/"
      traefik.http.middlewares.nextcloud-redirectregex2.redirectregex.permanent: "true"
      traefik.http.middlewares.nextcloud-redirectregex2.redirectregex.regex: "https?://([^/]*)(/.well-known[^#]*)"
      traefik.http.middlewares.nextcloud-redirectregex2.redirectregex.replacement: "https://$${1}/index.php$${2}"
      traefik.http.middlewares.nextcloud-securityheaders.headers.stsSeconds: "15552000"
      traefik.http.middlewares.nextcloud-securityheaders.headers.stsIncludeSubdomains: "true"
      traefik.http.middlewares.nextcloud-securityheaders.headers.stsPreload: "true"
      traefik.docker.network: "traefik"
      homepage.group: Home
      homepage.name: Nextcloud
      homepage.icon: nextcloud.png
      homepage.href: https://nc.${DOMAIN_NAME}
      homepage.description: File-hosting service
      homepage.siteMonitor: "http://10.10.1.13:1357"
      homepage.widget.type: nextcloud
      homepage.widget.fields: '["numfiles", "numshares"]'
      homepage.widget.url: http://10.10.1.13:1357
      homepage.widget.key: "${NEXTCLOUD_TOKEN}"
      wud.watch: "true"
      wud.display.name: "NextCloud"
      wud.display.icon: "sh:nextcloud"
      wud.tag.include: '^\d+\.\d+\.\d+$'
      wud.link.template: "https://github.com/nextcloud/server/releases/tag/v$${major}.$${minor}.$${patch}"
    restart: unless-stopped
    volumes:
      - /opt/docker/nextcloud/nextcloud_config:/config
      - /Data/IT/nextcloud:/data
    working_dir: /
    healthcheck:
      test: ["CMD-SHELL", "curl -Ss http://localhost/status.php | grep '\"installed\":true' || exit 1"]
      interval: 60s
      retries: 5
      start_period: 60s
      timeout: 10s
networks:
  nextcloud:
    driver: bridge
    name: nextcloud
    external: false
  traefik:
    external: true