name: scrutiny

x-versions:
  scrutiny-collector-version: &scrutiny-collector-version ghcr.io/analogj/scrutiny:v0.8.6-collector
  scrutiny-web-version: &scrutiny-web-version ghcr.io/analogj/scrutiny:v0.8.6-web

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  scrutiny-collector:
    image: *scrutiny-collector-version
    container_name: scrutiny-collector
    hostname: scrutiny-collector
    cap_add:
      - SETGID
      - SETUID
      - SYS_RAWIO
    cap_drop:
      - ALL
    command:
      - /entrypoint-collector.sh
    devices:
      - source: /dev/sda
        target: /dev/sda
        permissions: rwm
      - source: /dev/sdb
        target: /dev/sdb
        permissions: rwm
      - source: /dev/sdc
        target: /dev/sdc
        permissions: rwm
      - source: /dev/sdd
        target: /dev/sdd
        permissions: rwm
      - source: /dev/sde
        target: /dev/sde
        permissions: rwm
      - source: /dev/sdf
        target: /dev/sdf
        permissions: rwm
      - source: /dev/sdg
        target: /dev/sdg
        permissions: rwm
      - source: /dev/sdh
        target: /dev/sdh
        permissions: rwm
      - source: /dev/sdi
        target: /dev/sdi
        permissions: rwm
      - source: /dev/sdj
        target: /dev/sdj
        permissions: rwm
    environment:
      COLLECTOR_API_ENDPOINT: "http://10.10.1.13:93"
    ipc: private
    restart: unless-stopped
    volumes:
      - type: bind
        source: /run/udev
        target: /run/udev
        read_only: true
        bind:
          create_host_path: true
    networks:
      scrutiny: null
    working_dir: /opt/scrutiny
    logging: *default-logging
    labels:
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+\-collector$$'
      wud.display.name: "Scrutiny Collector"
      wud.display.icon: "sh:scrutiny"
      wud.link.template: "https://github.com/AnalogJ/scrutiny/releases/tag/v$${major}.$${minor}.$${patch}"

  scrutiny-web:
    image: *scrutiny-web-version
    container_name: scrutiny-web
    hostname: scrutiny-web
    cap_drop:
      - ALL
    command: ['/opt/scrutiny/bin/scrutiny','start']
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    environment:
      PATH: /opt/scrutiny/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      SCRUTINY_WEB_INFLUXDB_HOST: "10.10.1.11"
      SCRUTINY_WEB_INFLUXDB_ORG: "scrutiny"
      SCRUTINY_WEB_INFLUXDB_PORT: "8086"
      SCRUTINY_WEB_NOTIFY_URLS: "${SCRUTINY_WEB_NOTIFY_URLS}"
      SCRUTINY_WEB_INFLUXDB_TOKEN: "${SCRUTINY_WEB_INFLUXDB_TOKEN}"
    ipc: private
    restart: unless-stopped
    ports:
      - mode: ingress
        target: 8080
        published: "93"
        protocol: tcp
    volumes:
      - type: bind
        source: /opt/docker/scrutiny/scrutiny_config
        target: /opt/scrutiny/config
        bind:
          create_host_path: true
    networks:
      scrutiny: null
    working_dir: /opt/scrutiny
    healthcheck:
      test: curl -ILfSs http://localhost:8080/api/health  || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    logging: *default-logging
    labels:
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+\-web$$'
      wud.display.name: "Scrutiny"
      wud.display.icon: "sh:scrutiny"
      wud.link.template: "https://github.com/AnalogJ/scrutiny/releases/tag/v$${major}.$${minor}.$${patch}"

networks:
  scrutiny:
    name: scrutiny
    driver: bridge
