services:
  mercury-parser-api:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
#    cap_drop:
#      - ALL
#    command: ['npm','run','start']
    container_name: mercury-parser-api
#    entrypoint: ['dumb-init','--']
    hostname: mercury-parser-api
    image: wangqiru/mercury-parser-api:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - ttrss
    ports:
      - 3000:3000/tcp
    restart: unless-stopped
 #   volumes:
 #     - /opt/docker/ttrss/mercury-parser-api_appcustomizer:/app/customizer
 #   working_dir: /app
  ttrss:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
#    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    container_name: ttrss
    entrypoint: ['sh','/docker-entrypoint.sh']
    environment:
      DB_HOST: "10.10.1.13"
      SELF_URL_PATH: "https://ttrss.${DOMAIN_NAME}"
      DB_USER: "ttrss"
      DB_PASS: "${TTRSS_DB_PASS}"
      PATH: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      ALLOW_PORTS: "80,443"
      DB_NAME: "ttrss"
      LD_PRELOAD: "/usr/lib/preloadable_libiconv.so php"
      DB_PORT: "5432"
      ENABLE_PLUGINS: "auth_internal,fever"
      SESSION_COOKIE_LIFETIME: "24"
      SINGLE_USER_MODE: "false"
      LOG_DESTINATION: "sql"
      FEED_LOG_QUIET: "false"
    hostname: ttrss
    image: wangqiru/ttrss:latest
    ipc: private
    healthcheck:
      test: curl --fail http://localhost:3000/ || exit 1
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - ttrss
      - traefik
    ports:
      - 2015:80/tcp
        labels:
    traefik.enable: "true"
      traefik.http.routers.ttrss.entrypoints: websecure
      traefik.http.routers.ttrss.rule: Host(`ttrss.<DOMAIN_NAME>`)
      traefik.http.routers.ttrss.tls: "true"
      traefik.http.routers.ttrss.tls.certresolver: letencrypt
      traefik.http.services.ttrss.loadbalancer.server.port: "80"
    restart: always
    volumes:
      - /opt/docker/ttrss/ttrss_fever:/var/www/plugins/fever
    working_dir: /var/www
networks:
  ttrss:
    name: ttrss
    driver: bridge
    external: false
  traefik:
    external: true