services:
  mongo:
    image: mongo:8.0.12
    command: --quiet --wiredTigerCacheSizeGB 0.25
    restart: unless-stopped
    logging:
      driver: ${COMPOSE_LOGGING_DRIVER:-local}
    volumes:
      - /opt/docker/komodo/mongo_data:/data/db
      - /opt/docker/komodo/mongo_config:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${KOMODO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${KOMODO_DB_PASSWORD}
    labels:
      komodo.skip:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/mongodb/mongo/releases/tag/r$${major}.$${minor}.$${patch}'
      wud.display.name: 'Komodo Mongo DB'
      wud.display.icon: 'sh:komodo'
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
      
  core:
    image: ghcr.io/moghtech/komodo-core:1.19.1
    restart: unless-stopped
    depends_on:
      - mongo
    logging:
      driver: ${COMPOSE_LOGGING_DRIVER:-local}
    ports:
      - 9120:9120
    environment:
      TZ: "${TZ}"
      KOMODO_DATABASE_ADDRESS: "mongo:27017"
      KOMODO_DATABASE_USERNAME: "${KOMODO_DB_USERNAME}"
      KOMODO_DATABASE_PASSWORD: "${KOMODO_DB_PASSWORD}"
      COMPOSE_KOMODO_IMAGE_TAG: "latest"
      COMPOSE_LOGGING_DRIVER: "local"
      KOMODO_DB_USERNAME: "${KOMODO_DB_USERNAME}"
      KOMODO_HOST: "http://10.10.1.13"
      KOMODO_TITLE: "Komodo"
      KOMODO_FIRST_SERVER: "https://host.docker.internal:8120"
      KOMODO_DISABLE_CONFIRM_DIALOG: "true"
      KOMODO_MONITORING_INTERVAL: "15-sec"
      KOMODO_RESOURCE_POLL_INTERVAL: "5-min"
      KOMODO_LOCAL_AUTH: "true"
      KOMODO_DISABLE_USER_REGISTRATION: "false"
      KOMODO_ENABLE_NEW_USERS: "false"
      KOMODO_DISABLE_NON_ADMIN_CREATE: "false"
      KOMODO_TRANSPARENT_MODE: "false"
      KOMODO_JWT_TTL: "1-day"
      KOMODO_OIDC_ENABLED: "false"
      KOMODO_GITHUB_OAUTH_ENABLED: "false"
      KOMODO_GOOGLE_OAUTH_ENABLED: "false"
      KOMODO_AWS_ACCESS_KEY_ID: ""
      KOMODO_AWS_SECRET_ACCESS_KEY: ""
      KOMODO_HETZNER_TOKEN: ""
    labels:
      komodo.skip:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/moghtech/komodo/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: 'Komodo'
      wud.display.icon: 'sh:komodo'

    volumes:
      ## Core cache for repos for latest commit hash / contents
      - /opt/docker/komodo/komodo_repo-cache:/repo-cache
      ## Store sync files on server
      - /opt/docker/komodo/komodo_syncs:/syncs
      ## Optionally mount a custom core.config.toml
      - /opt/docker/komodo/core.config.toml:/config/config.toml
    # Allows for systemd Periphery connection at.
    # "http://host.docker.internal:8120"
    extra_hosts:
      - host.docker.internal:host-gateway