services:
  pricebuddy:
    build:
      context: .
      dockerfile: docker/php.dockerfile
    image: jez500/pricebuddy:latest
    ports:
      - 5757:80
    volumes:
      - /opt/docker/pricebuddy/pricebuddy_data:/app/storage
    environment:
      DB_HOST: "pricebuddy-mysql"
      DB_USERNAME: "pricebuddy"
      DB_PASSWORD: "${PRICEBUDDY_DB_PASS}"
      DB_DATABASE: "pricebuddy"
      APP_USER_EMAIL: "${ADMIN_EMAIL}"
      APP_USER_PASSWORD: "${PRICEBUDDY_ADMIN_PASS}"
      SCRAPER_BASE_URL: "http://pricebuddy-scraper:3000"
      AFFILIATE_ENABLED: "false"
    depends_on:
      - pricebuddy-mysql
    labels:  
      traefik.enable: "true"
      traefik.http.routers.pricebuddy.rule: "Host(`prices.${DOMAIN_NAME}`)"
      traefik.http.routers.pricebuddy.entrypoints: "websecure"
      traefik.http.routers.pricebuddy.tls: "true"
      traefik.http.routers.pricebuddy.tls.certresolver: "letsencrypt"
      traefik.http.routers.pricebuddy.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.pricebuddy.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.pricebuddy.middlewares: "secHeaders@file"
      traefik.http.services.pricebuddy.loadbalancer.server.port: "80"
      homepage.group: "Home"
      homepage.name: "Pricebuddy"
      homepage.icon: "sh-pricebuddy.png"
      homepage.href: "https://prices.${DOMAIN_NAME}"
      homepage.description: "Price tracker"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/jez500/pricebuddy/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: 'Pricebuddy'
      wud.display.icon: 'sh:pricebuddy'
    networks:
      - pricebuddy
      - traefik

  pricebuddy-mysql:
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - FOWNER
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    container_name: pricebuddy-mysql
    image: mysql:8.2
    environment:
      MYSQL_DATABASE: "pricebuddy"
      MYSQL_USER: "pricebuddy"
      MYSQL_PASSWORD: "${PRICEBUDDY_DB_PASS}"
      MYSQL_ROOT_PASSWORD: "${PRICEBUDDY_DB_ADMIN_PASS}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
      TZ: "${TZ}"
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1g
        reservations:
          memory: 512m
    volumes:
      - /opt/docker/pricebuddy/pricebuddy_mysql:/var/lib/mysql
    networks:
      - pricebuddy
      - adminer
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 60s
      interval: 30s
      timeout: 5s
      retries: 5
    labels:
      wud.display.name: "Romm - MariaDB"
      wud.display.icon: "sh-pricebuddy"
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/MariaDB/server/releases/tag/mariadb-$${major}.$${minor}.$${patch}'

  pricebuddy-scraper:
    image: amerkurev/scrapper:latest
    networks:
      - pricebuddy
#    ports:
#      - 3030:3000
    labels:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/amerkurev/scrapper/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: 'Pricebuddy Scrapper'
      wud.display.icon: 'sh:pricebuddy'

networks:
  pricebuddy:
    name: pricebuddy
    driver: bridge
    external: false
  traefik:
    external: true