
services:
  heimdall:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: heimdall
    entrypoint:
      - /init
    environment:
      TZ: "${TZ}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: heimdall
    image: linuxserver/heimdall:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - heimdall
      - traefik
    ports:
      - 3838:80/tcp
    labels:  
      - "traefik.enable=true"
      - "traefik.http.routers.heimdall.rule=Host(`fp.${DOMAIN_NAME}`)"
      - "traefik.http.routers.heimdall.entrypoints=websecure"
      - "traefik.http.routers.heimdall.tls=true"
      - "traefik.http.routers.heimdall.tls.certresolver=letencrypt"
      - "traefik.http.services.heimdall.loadbalancer.server.port=80"
    restart: unless-stopped
    volumes:
      - /opt/docker/heimdall/heimdall_config:/config
    working_dir: /
networks:
  heimdall:
    name: heimdall
    driver: bridge
    external: false
  traefik:
    external: true