services:
  photoprism:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: ['/scripts/cmd.sh','/opt/photoprism/bin/photoprism','start']
    container_name: photoprism
    entrypoint: ['/init']
    environment:
      PHOTOPRISM_EXPERIMENTAL: "true"
      PHOTOPRISM_DATABASE_DRIVER: "mysql"
      PHOTOPRISM_DATABASE_SERVER: "10.10.1.13:3306"
      PHOTOPRISM_DATABASE_NAME: "photoprism"
      PHOTOPRISM_DATABASE_PASSWORD: "${PHOTOPRISM_DB_PASS}"
      PHOTOPRISM_LOG_LEVEL: "debug"
      PHOTOPRISM_ADMIN_USER: "${PHOTOPRISM_ADMIN_NAME}"
      PHOTOPRISM_ADMIN_PASSWORD: "${PHOTOPRISM_ADMIN_PASS}"
      PHOTOPRISM_AUTH_MODE: "password"
      PHOTOPRISM_ORIGINALS_LIMIT: 15000
      PHOTOPRISM_HTTP_HOST: "0.0.0.0"
      PHOTOPRISM_HTTP_PORT: "2342"
      PHOTOPRISM_DISABLE_TLS: "false"
      PHOTOPRISM_DEFAULT_TLS: "false"
      PHOTOPRISM_DISABLE_STS: "true"
      PHOTOPRISM_DISABLE_CHOWN: "false"
      PHOTOPRISM_DISABLE_WEBDAV: "false"
      PHOTOPRISM_DISABLE_SETTINGS: "false"
      PHOTOPRISM_DISABLE_BACKUPS: "false"
      PHOTOPRISM_DISABLE_EXIFTOOL: "false"
      PHOTOPRISM_DISABLE_PLACES: "false"
      PHOTOPRISM_DISABLE_TENSORFLOW: "false"
      PHOTOPRISM_DISABLE_FACES: "false"
      PHOTOPRISM_DISABLE_CLASSIFICATION: "false"
      PHOTOPRISM_RAW_PRESETS: "false"
      PHOTOPRISM_THUMB_SIZE: "1920"
      PHOTOPRISM_THUMB_SIZE_UNCACHED: "7680"
      PHOTOPRISM_THUMB_UNCACHED: "true"
      PHOTOPRISM_JPEG_SIZE: "7680"
      PHOTOPRISM_PNG_SIZE: "7680"
      PHOTOPRISM_AUTO_INDEX: "300"
      PHOTOPRISM_AUTO_IMPORT: "-1"
      PHOTOPRISM_INIT: "https"
      PHOTOPRISM_PUBLIC: "false"
      PHOTOPRISM_READONLY: "false"
      PHOTOPRISM_UPLOAD_NSFW: "true"
      PHOTOPRISM_DETECT_NSFW: "false"
      PHOTOPRISM_ASSETS_PATH: "/opt/photoprism/assets"
      PHOTOPRISM_IMPORT_PATH: "/photoprism/import"
      PHOTOPRISM_ORIGINALS_PATH: "/photoprism/originals"
      PHOTOPRISM_STORAGE_PATH: "/photoprism/storage"
      PHOTOPRISM_BACKUP_PATH: "/photoprism/storage/backups"
      PHOTOPRISM_LOG_FILENAME: "/photoprism/storage/photoprism.log"
      PHOTOPRISM_PID_FILENAME: "/photoprism/storage/photoprism.pid"
    hostname: photoprism
    image: photoprism/photoprism:latest
    ipc: private
    healthcheck:
      test: "photoprism status"
      interval: 60s
      timeout: 15s
      retries: 5
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - photoprism
    ports:
      - 2342:2342/tcp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host('photos.${DOMAIN_NAME}')"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=letencrypt"
      - "traefik.http.services.whoami.loadbalancer.server.port=2342"
    volumes:
      - /opt/docker/photoprism/photoprism_data:/photoprism/storage
      - /Data/IT/photoprism-cache:/photoprism/storage/cache
      - /Data/IT/photoprism-sidecar:/photoprism/storage/sidecar
      - /Data/Photos:/photoprism/originals
    working_dir: /photoprism    
networks:
  photoprism:
    name: photoprism
    driver: bridge
    external: false