services:
  grocy:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: grocy
    entrypoint: ["/init"]
    environment:
      TZ: "${TZ}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: grocy
    image: linuxserver/grocy:v4.5.0-ls290
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - grocy
      - traefik
    ports:
      - 9283:80/tcp
    labels:  
      traefik.enable: "true"
      traefik.http.routers.grocy.rule: "Host(`grocery.${DOMAIN_NAME}`)"
      traefik.http.routers.grocy.entrypoints: "websecure"
      traefik.http.routers.grocy.tls: "true"
      traefik.http.routers.grocy.tls.certresolver: "letsencrypt"
      traefik.http.routers.grocy.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.grocy.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.grocy.middlewares: "secHeaders@file"
      traefik.http.services.grocy.loadbalancer.server.port: "80"
      homepage.group: "Home"
      homepage.name: "Grocy"
      homepage.icon: "sh-grocy.png"
      homepage.href: "https://grocery.${DOMAIN_NAME}"
      homepage.description: "Home stock and inventory management"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/grocy/grocy/releases/tag/v$${major}.$${minor}.$${patch}"
      wud.display.name: 'Grocy'
      wud.display.icon: 'sh:grocy'
    restart: unless-stopped
    volumes:
#      - /opt/docker/grocy/grocy_data:/config
      - /mnt/tmpfs:/config
networks:
  grocy:  
    name: grocy
    driver: bridge
    external: false
  traefik:
    external: true