services:
  grocy:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: grocy
    entrypoint: ["/init"]
    environment:
      TZ: "${TZ}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: grocy
    image: linuxserver/grocy:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - grocy
    ports:
      - 9283:80/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/grocy/grocy_data:/config
    working_dir: /
networks:
  name: grocy
  driver: bridge
  external: false