services:
  grocy:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: grocy
    entrypoint: ["/init"]
    environment:
      TZ: "${TZ}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: grocy
    image: linuxserver/grocy:v4.5.0-ls290
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - grocy
      - traefik
    ports:
      - 9283:80/tcp
    labels:  
      traefik.enable: "true"
      traefik.http.routers.grocy.rule: "Host(`grocery.${DOMAIN_NAME}`)"
      traefik.http.routers.grocy.entrypoints: "websecure"
      traefik.http.routers.grocy.tls: "true"
      traefik.http.routers.grocy.tls.certresolver: "letsencrypt"
      traefik.http.routers.grocy.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.grocy.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.services.grocy.loadbalancer.server.port: "80"
    restart: unless-stopped
    volumes:
      - /opt/docker/grocy/grocy_data:/config
    working_dir: /
networks:
  grocy:  
    name: grocy
    driver: bridge
    external: false
  traefik:
    external: true