services:
  grocy:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: grocy
    entrypoint: ["/init"]
    environment:
      TZ: "${TZ}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
    hostname: grocy
    image: linuxserver/grocy:v4.5.0-ls290
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - grocy
    ports:
      - 9283:80/tcp
    labels:  
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host('grocery.${DOMAIN_NAME}')"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=letencrypt"
      - "traefik.http.services.whoami.loadbalancer.server.port=9283"
    restart: unless-stopped
    volumes:
      - /opt/docker/grocy/grocy_data:/config
    working_dir: /
networks:
  grocy:  
    name: grocy
    driver: bridge
    external: false