services:
  monica-mariadb:
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    container_name: monica-mariadb
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DIR: "/config"
      DATADIR: "/config/databases"
      MYSQL_DATABASE: "monica"
      MYSQL_USER: "monica"
      MYSQL_PASSWORD: "${MONICA_DB_PASS}"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
      TZ: "${TZ}"
    hostname: monica-mariadb
    image: linuxserver/mariadb:11.4.8
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1g
        reservations:
          memory: 512m
    networks:
      - monica
      - adminer
    restart: unless-stopped
    labels:
      wud.display.name: "MariaDB"
      wud.display.icon: "sh-mariadb"
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/MariaDB/server/releases/tag/mariadb-$${major}.$${minor}.$${patch}'
    volumes:
      - /opt/docker/monica/mariadb_data:/config
  monica:
    image: monica:4.1.2
    ports:
      - 5435:80
    environment:
      APP_KEY: "${MONICA_APP_KEY}"
      DB_HOST: "10.10.1.13"
      DB_USERNAME: "monica"
      DB_PASSWORD: "${MONICA_DB_PASS}"
      APP_URL: "https://monica.${DOMAIN_NAME}"
      APP_TRUSTED_PROXIES: "*"
    labels:  
      traefik.enable: "true"
      traefik.http.routers.monica.rule: "Host(`monica.${DOMAIN_NAME}`)"
      traefik.http.routers.monica.entrypoints: "websecure"
      traefik.http.routers.monica.tls: "true"
      traefik.http.routers.monica.tls.certresolver: "letsencrypt"
      traefik.http.routers.monica.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.monica.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.monica.middlewares: "secHeaders@file"
      traefik.http.services.monica.loadbalancer.server.port: "80"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.display.name: "Monica"
      wud.display.icon: "sh:monica"
      wud.link.template: "https://github.com/monicahq/monica/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - /opt/docker/monica/monica_data:/var/www/html/storage
    restart: always
    networks:
      - monica
      - traefik
networks:
  monica:
    name: monica
    driver: bridge
    external: false
  adminer: 
    external: true
  traefik:
    external: true