services:
  mariadb:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: mariadb
    entrypoint: ['/init']
    environment:
      MYSQL_ROOT_PASSWORD: "${MARIADB_ADMIN_PASS}"
      MYSQL_DIR: "/config"
      DATADIR: "/config/databases"
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
      TZ: "${TZ}"
    hostname: mariadb
    image: linuxserver/mariadb:10.11.10
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - mariadb
    ports:
      - 3306:3306/tcp
    restart: unless-stopped
    labels:
      wud.display.name: "MariaDB"
      wud.display.icon: "sh-mariadb"
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/MariaDB/server/releases/tag/mariadb-$${major}.$${minor}.$${patch}'
    volumes:
      - /opt/docker/mariadb/mariadb_data:/config
    working_dir: /
networks:
  mariadb:
    name: mariadb
    driver: bridge
    external: false