services:
  frigate:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: frigate
    entrypoint: ['/init']
    environment:
      PLUS_API_KEY: "${FRIGATE_PLUS_API_KEY}"
      YOLO_MODELS: "yolov7-640"
      USE_FP16: "false"
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,video,utility"
      TOKENIZERS_PARALLELISM: "true"
      TRANSFORMERS_NO_ADVISORY_WARNINGS: "1"
      OPENCV_FFMPEG_LOGLEVEL: "8"
    hostname: frigate
    image: ghcr.io/blakeblackshear/frigate:0.16.0-tensorrt
    devices:
      - /dev/bus/usb:/dev/bus/usb
    ipc: private
    runtime: nvidia
    shm_size: "4gb"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [compute,utility,video]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - frigate
      - traefik
    ports:
      - 5000:5000/tcp ## NO AUTH!!!!!
      - 8554:8554/tcp
      - 8555:8555/tcp
      - 8555:8555/udp
      - 8971:8971/tcp #authentication
    privileged: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.frigate.entrypoints: websecure
      traefik.http.routers.frigate.rule: Host(`cctv.${DOMAIN_NAME}`)
      traefik.http.routers.frigate.tls: "true"
      traefik.http.routers.frigate.tls.certresolver: letsencrypt
      traefik.http.routers.frigate.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.frigate.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.frigate.middlewares: "secHeaders@file,authelia-auth@docker"
      traefik.http.services.frigate.loadbalancer.server.port: "5000"
      traefik.docker.network: "traefik"
      homepage.group: "Home"
      homepage.name: "Frigate"
      homepage.icon: "frigate.png"
      homepage.href: "https://cctv.${DOMAIN_NAME}"
      homepage.description: "CCTV NVR"
      homepage.widget.type: "frigate"
      homepage.widget.url: "http://10.10.1.13:5000"
      homepage.widget.enableRecentEvents: "true"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.tag.include: '^\d+\.\d+\.\d+\-tensorrt$$'
      wud.link.template: "https://github.com/blakeblackshear/frigate/releases/tag/v$${major}.$${minor}.$${patch}"
      wud.display.name: "Frigate"
      wud.display.icon: "mdi:cctv"
    restart: unless-stopped
    security_opt:
      - label=disable
    volumes:
      - /srv/dev-disk-by-uuid-4a6794fd-5f63-42bd-b4ce-3653bce38f8a/CCTV/clips:/media/frigate/clips
      - /srv/dev-disk-by-uuid-4a6794fd-5f63-42bd-b4ce-3653bce38f8a/CCTV:/media/frigate/recordings
      - /root/download_yolo.sh:/usr/local/src/tensorrt_demos/yolo/download_yolo.sh
      - /dev/bus/usb:/dev/bus/usb
      - /etc/localtime:/etc/localtime:ro
      - /opt/docker/frigate/frigate_config:/config
      - /opt/docker/frigate/frigate_storage:/media/frigate
    working_dir: /opt/frigate
networks:
  frigate:
    name: frigate
    driver: bridge
    external: false
  traefik:
    external: true