services:
  cloudflared:
    image: cloudflare/cloudflared:2025.8.0
    container_name: cloudflared-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: "${CLOUDFLARED_TOKEN}"
    networks:
      - cloudflared
networks:
  cloudflared:
    external: false
    driver: bridge
    name: cloudflared