services:
  traefik-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: traefik-socket-proxy
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    mem_limit: 64M
    cap_drop:
      - ALL
    environment:
      CONTAINERS: "1"
    labels:
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/Tecnativa/docker-socket-proxy/releases/tag/v$${major}.$${minor}.$${patch}"
      wud.display.name: 'Docker Socket Proxy - Traefik'
      wud.display.icon: 'mdi:connection'
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "2375"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-internal
  traefik:
    image: traefik
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - "--providers.docker=true"
      - "--providers.docker.endpoint=tcp://traefik-socket-proxy:2375"
      - "--providers.docker.exposedbydefault=false"
    environment:
      TRAEFIK_PROVIDERS_DOCKER: "true"
      TRAEFIK_PROVIDERS_DOCKER_ENDPOINT: "tcp://traefik-socket-proxy:2375"
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: "false"
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: "traefik"
      TRAEFIK_API_DASHBOARD: "true"
      TRAEFIK_API_INSECURE: "true"
      TZ: "${TZ}"
      CF_API_EMAIL: "${ADMIN_EMAIL}"
      CF_DNS_API_TOKEN: "${TRAEFIK_CF_DNS_API_TOKEN}"
      LOCAL_IPS: "127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12"
      CLOUDFLARE_IPS: "173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22"
    labels:
      homepage.group: "Infrastructure"
      homepage.name: "Traefik"
      homepage.icon: "traefik"
      homepage.internal.href: "http://10.10.1.13:8281"
      homepage.description: "HTTP reverse proxy"
      homepage.statusStyle: "dot"
      homepage.widget.type: "traefik"
      homepage.widget.url: "http://10.10.1.13:8281"
      homepage.widget.fields: "['routers', 'services', 'middleware']"
#      - "homepage.widget.username:username"
#      - "homepage.widget.password:password"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Traefik"
      wud.display.icon: "sh:traefik"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://getwud.github.io/wud/#/changelog/?id=_$${major}$${minor}$${patch}"
    depends_on:
      traefik-socket-proxy:
        condition: service_healthy
    networks:
      - traefik-internal
      - traefik
    ports:
      - 80:80
      - 443:443 
      - 8281:8080 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/docker/traefik/traefik_certs:/certs
      - /opt/docker/traefik/traefik.yml:/traefik.yml:ro
      - /opt/docker/traefik/traefik_dynamic.yml:/traefik_dynamic.yml:ro
      - /opt/docker/traefik/mojecertpl.verification:/mojecertpl.verification:ro
networks:
  traefik:
    name: traefik
    driver: bridge
    external: false
    ipam:
      config:
        - subnet: 10.55.0.0/16
          ip_range: 10.55.0.0/24
  traefik-internal:
    name: traefik-internal
    driver: bridge
    internal: true