services:
  vouchervault:
    image: l4rm4nd/vouchervault:1.15.x
    container_name: vouchervault
    restart: unless-stopped
    environment:
      DOMAIN: "cards.${DOMAIN_NAME},10.10.1.13"
      SECURE_COOKIES: "True"
      EXPIRY_THRESHOLD_DAYS: "90"
      TZ: "${TZ}"
    expose:
      - 8000
    ports:
      - 8077:8000
    volumes:
      - /opt/docker/vouchervault/vouchervault_db:/opt/app/database
    networks:
      - vouchervault
      - traefik
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ipc: private
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`cards.${DOMAIN_NAME}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=8000"
  vouchervault-redis:
    image: redis:7-alpine
    container_name: vouchervault-redis
    restart: unless-stopped
    expose:
      - 6379
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ipc: private
networks: 
  vouchervault:
    name: vouchervault
    driver: bridge
    external: false
  traefik:
    external: true
