services:
  vouchervault:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL 
    ipc: private
    image: l4rm4nd/vouchervault:1.21.9
    container_name: vouchervault
    restart: unless-stopped
    environment:
      DOMAIN: "cards.${DOMAIN_NAME}"
      SECURE_COOKIES: "True"
      EXPIRY_THRESHOLD_DAYS: "90"
      TZ: "${TZ}"
    ports:
      - 8077:8000
    volumes:
      - /opt/docker/vouchervault/vouchervault_db:/opt/app/database
    networks:
      - vouchervault
      - traefik
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      traefik.enable: "true"
      traefik.http.routers.vouchervault.rule: "Host(`cards.${DOMAIN_NAME}`)"
      traefik.http.routers.vouchervault.entrypoints: "websecure"
      traefik.http.routers.vouchervault.tls: "true"
      traefik.http.routers.vouchervault.tls.certresolver: "letsencrypt"
      traefik.http.routers.vouchervault.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.vouchervault.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.services.vouchervault.loadbalancer.server.port: "8000"
      homepage.group: "Home"
      homepage.name: "Vouchervault"
      homepage.icon: "sh-vouchervault.png"
      homepage.href: "https://cards.${DOMAIN_NAME}"
      homepage.description: "Loyalty cards manager"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: "https://github.com/l4rm4nd/VoucherVault/releases/tag/v${major}.${minor}.${patch}"
      wud.display.name: "VoucherVault"
      wud.display.icon: "sh-vouchervault"
    depends_on:
      vouchervault-redis:
        condition: service_healthy
  vouchervault-redis:
    image: redis:7-alpine
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    container_name: vouchervault-redis
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ipc: private
    volumes:
      - /opt/docker/vouchervault/redis_data:/data
networks: 
  vouchervault:
    name: vouchervault
    driver: bridge
    external: false
  traefik:
    external: true
