services:
  vouchervault:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL 
    ipc: private
    image: l4rm4nd/vouchervault:1.24.1
    container_name: vouchervault
    restart: unless-stopped
    environment:
      DOMAIN: "cards.${DOMAIN_NAME}"
      SECURE_COOKIES: "True"
      EXPIRY_THRESHOLD_DAYS: "90"
      TZ: "${TZ}"
    ports:
      - 8077:8000
    volumes:
      - /opt/docker/vouchervault/vouchervault_db:/opt/app/database
    networks:
      - vouchervault
      - traefik
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      traefik.enable: "true"
      traefik.http.routers.vouchervault.rule: "Host(`cards.${DOMAIN_NAME}`)"
      traefik.http.routers.vouchervault.entrypoints: "websecure"
      traefik.http.routers.vouchervault.tls: "true"
      traefik.http.routers.vouchervault.tls.certresolver: "letsencrypt"
      traefik.http.routers.vouchervault.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.vouchervault.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.vouchervault.middlewares: "secHeaders@file"
      traefik.http.services.vouchervault.loadbalancer.server.port: "8000"
      homepage.group: "Home"
      homepage.name: "Vouchervault"
      homepage.icon: "sh-vouchervault.png"
      homepage.href: "https://cards.${DOMAIN_NAME}"
      homepage.description: "Loyalty cards manager"
      homepage.siteMonitor: "https://cards.${DOMAIN_NAME}"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/l4rm4nd/VoucherVault/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: "VoucherVault"
      wud.display.icon: "sh-vouchervault"
    depends_on:
      vouchervault-valkey:
        condition: service_healthy
  vouchervault-valkey:
    container_name: vouchervault-valkey
    image: docker.io/valkey/valkey:9.0.1-alpine
    ipc: private
    command: ['valkey-server','--save','30','1','--loglevel','warning']
    restart: unless-stopped
    networks:
      - vouchervault
    volumes:
      - /opt/docker/vouchervault/valkey-data:/data
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - CHOWN
    cap_drop:
      - ALL
    labels:
      wud.display.name: "Vouchervault - Valkey"
      wud.display.icon: "sh-vouchervault"
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+\.\d+\-alpine$$'
      wud.link.template: 'https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
    healthcheck: 
      test: '[ $$(valkey-cli ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
networks: 
  vouchervault:
    name: vouchervault
    driver: bridge
    external: false
  traefik:
    external: true
