services:
  vouchervault:
    image: l4rm4nd/vouchervault:1.15.x
    container_name: vouchervault
    restart: unless-stopped
    environment:
      DOMAIN: "cards.${DOMAIN_NAME},10.10.1.13"
      SECURE_COOKIES: "True"
      EXPIRY_THRESHOLD_DAYS: "90"
      TZ: "${TZ}"
    expose:
      - 8000
    ports:
      - 8077:8000
    volumes:
      - /opt/docker/vouchervault/vouchervault_db:/opt/app/database
    networks:
      - vouchervault
      - traefik
  vouchervault-redis:
    image: redis:7-alpine
    container_name: vouchervault-redis
    restart: unless-stopped
    expose:
      - 6379
networks: 
  vouchervault:
    name: vouchervault
    driver: bridge
    external: false
  traefik:
    external: true
