services:
  signal_rest_api:
    image: bbernhard/signal-cli-rest-api:0.95
    container_name: signal-rest-api
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    cap_add:
      - AUDIT_WRITE
      - DAC_OVERRIDE
      - CHOWN
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    networks:
      - signal-rest-api
    environment:
      MODE: "normal" #supported modes: json-rpc, native, normal
      SIGNAL_CLI_UID: "${DOCKER_PUID}"
      SIGNAL_CLI_GID: "${DOCKER_PGID}"
      #- AUTO_RECEIVE_SCHEDULE=0 22 * * * #enable this parameter on demand (see description below)
    labels:
      wud.watch: "true"
      wud.tag.include: '^\d+\.\d+$$'
      wud.display.name: "Signal Rest API"
      wud.display.icon: "sh:signal"
      wud.link.template: "https://github.com/bbernhard/signal-cli-rest-api/releases/tag/$${major}.$${minor}$${patch}"
    volumes:
      - "/opt/docker/signal-cli-api/signal-cli-api_data:/home/.local/share/signal-cli"
    ports:
      - 3162:8080/tcp
networks:
  signal-rest-api:
    name: signal-rest-api
    driver: bridge
    external: false