services:
  signal_rest_api:
    image: bbernhard/signal-cli-rest-api:0.93
    container_name: signal-rest-api
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    cap_add:
      - AUDIT_WRITE
      - DAC_OVERRIDE
      - CHOWN
      - FOWNER
    cap_drop:
      - ALL
    networks:
      - signal-rest-api
    environment:
      MODE: "normal" #supported modes: json-rpc, native, normal
      SIGNAL_CLI_UID: "${DOCKER_PUID}"
      SIGNAL_CLI_GID: "${DOCKER_PGID}"
      #- AUTO_RECEIVE_SCHEDULE=0 22 * * * #enable this parameter on demand (see description below)
    volumes:
      - "/opt/docker/signal-cli-api/signal-cli-api_data:/home/.local/share/signal-cli"
    ports:
      - 3162:8080/tcp
networks:
  signal-rest-api:
    name: signal-rest-api
    driver: bridge
    external: false