services:
  authelia:
    image: authelia/authelia:4.39.9
    container_name: authelia
    restart: unless-stopped
    ipc: private
    volumes:
      - /opt/docker/authelia/authelia_config:/config
    environment:
      TZ: "${TZ}"
      REDIS_PASSWORD: "${AUTHELIA_REDIS_PASS}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      SESSION_ENCRYPTION_KEY: "${AUTHELIA_SESSION_KEY}"
      STORAGE_ENCRYPTION_KEY: "${AUTHELIA_STORAGE_KEY}"
      AUTHELIA_STORAGE_LOCAL_PATH: "/config/db.sqlite3"
      AUTHELIA_SESSION_REDIS_HOST: authelia-valkey
      AUTHELIA_SESSION_REDIS_PORT: 6379
      X_AUTHELIA_CONFIG_FILTERS: "template"
    labels:
      traefik.enable: "true"
  # --- Router for the Authelia Portal ---
      traefik.http.routers.authelia.rule: "Host(`id.${DOMAIN_NAME}`)"
      traefik.http.routers.authelia.entrypoints: "websecure"
      traefik.http.routers.authelia.tls: "true"
      traefik.http.routers.authelia.tls.certresolver: "letsencrypt"
      traefik.http.routers.authelia.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.authelia.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.authelia.middlewares: "secHeaders@file"
      traefik.http.services.authelia.loadbalancer.server.port: "9091"
  # --- Middleware for other services to use for authentication ---
      traefik.http.middlewares.authelia-auth.forwardauth.address: "http://authelia:9091/api/verify?rd=https://id.${DOMAIN_NAME}/"
      traefik.http.middlewares.authelia-auth.forwardauth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia-auth.forwardauth.authResponseHeaders: "Remote-User, Remote-Groups, Remote-Name, Remote-Email"
  # --- Whats up Docker? config ---
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Authelia"
      wud.display.icon: sh-authelia
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/authelia/authelia/releases/tag/v$${major}.$${minor}.$${patch}'
    user: "${DOCKER_PUID}:${DOCKER_PGID}"  
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - authelia-valkey
    networks:
      - authelia
      - traefik

  authelia-valkey:
    container_name: authelia-valkey
    image: docker.io/valkey/valkey:8.1.3-alpine
    ipc: private
    command: ['valkey-server','--save','30','1','--loglevel','warning']
    restart: unless-stopped
    networks:
      - authelia
    volumes:
      - /opt/docker/authelia/valkey-data:/data
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - CHOWN
    cap_drop:
      - ALL
    labels:
      wud.display.name: "Authelia - Valkey"
      wud.display.icon: "sh-authelia"
      wud.watch: "true"
      wud.tag.include: '^v\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
    healthcheck: 
      test: '[ $$(valkey-cli ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

networks:
  authelia:
    name: authelia
    driver: bridge
    external: false
  traefik:
    external: true
