services:
  authelia:
    image: authelia/authelia:4.39.4
    container_name: authelia
    restart: unless-stopped
    ipc: private
    expose:
      - 9091
    volumes:
      - /opt/docker/authelia/authelia_config:/config:ro
    environment:
      TZ: "${TZ}"
      REDIS_PASSWORD: "${AUTHELIA_REDIS_PASS}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      SESSION_SECRET: "${AUTHELIA_SESSION_KEY}"
      STORAGE_ENCRYPTION_KEY: "${AUTHELIA_STORAGE_KEY}"
      AUTHELIA_STORAGE_LOCAL_PATH: "/config/db.sqlite3"
      X_AUTHELIA_CONFIG: /config.yaml
    labels:
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Authelia"
      wud.display.icon: sh-authelia
      wud.tag.include: ^$v\d+.\d+\.\d+$$
      wud.link.template: https://github.com/authelia/authelia/releases/tag/v$${major}.$${minor}.$${patch}
    user: "${DOCKER_PUID}:${DOCKER_PGID}"  
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - authelia-redis
    networks:
      - authelia

  authelia-redis:
    image: redis:latest
    container_name: authelia-redis
    restart: unless-stopped
    ipc: private
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    expose:
      - 6379
    command: "redis-server --requirepass ${AUTHELIA_REDIS_PASS}"
    volumes:
      - ./redis/data:/data
    user: "8001:8001"
    networks:
      - authelia
networks:
  authelia:
    name: authelia
    driver: bridge
    external: false
