services:
  authelia:
    image: authelia/authelia:4.39.6
    container_name: authelia
    restart: unless-stopped
    ipc: private
    volumes:
      - /opt/docker/authelia/authelia_config:/config
    environment:
      TZ: "${TZ}"
      REDIS_PASSWORD: "${AUTHELIA_REDIS_PASS}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      SESSION_ENCRYPTION_KEY: "${AUTHELIA_SESSION_KEY}"
      STORAGE_ENCRYPTION_KEY: "${AUTHELIA_STORAGE_KEY}"
      X_AUTHELIA_CONFIG_FILTERS: "template"
      AUTHELIA_STORAGE_LOCAL_PATH: "/config/db.sqlite3"
    labels:
      traefik.enable: "true"
  # --- Router for the Authelia Portal ---
      traefik.http.routers.authelia.rule: "Host(`id.${DOMAIN_NAME}`)"
      traefik.http.routers.authelia.entrypoints: "websecure"
      traefik.http.routers.authelia.tls: "true"
      traefik.http.routers.authelia.tls.certresolver: "letsencrypt"
      traefik.http.routers.authelia.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.authelia.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.authelia.middlewares: "secHeaders@file"
      traefik.http.services.authelia.loadbalancer.server.port: "9091"
  # --- Middleware for other services to use for authentication ---
      traefik.http.middlewares.authelia-auth.forwardauth.address: "http://authelia:9091/api/verify?rd=https://id.${DOMAIN_NAME}/"
      traefik.http.middlewares.authelia-auth.forwardauth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia-auth.forwardauth.authResponseHeaders: "Remote-User, Remote-Groups, Remote-Name, Remote-Email"
  # --- Whats up Docker? config ---
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Authelia"
      wud.display.icon: sh-authelia
      wud.tag.include: ^$v\d+.\d+\.\d+$$
      wud.link.template: https://github.com/authelia/authelia/releases/tag/v$${major}.$${minor}.$${patch}
    user: "${DOCKER_PUID}:${DOCKER_PGID}"  
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - authelia-redis
    networks:
      - authelia
      - traefik

  authelia-redis:
    image: redis:8.2.0
    container_name: authelia-redis
    restart: unless-stopped
    ipc: private
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    labels:
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Authelia Redis"
      wud.display.icon: "sh-authelia"
      wud.tag.include: '^$v\d+.\d+\.\d+$$'
      wud.link.template: 'https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}'
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    expose:
      - 6379
    command: "redis-server --requirepass ${AUTHELIA_REDIS_PASS}"
    volumes:
      - ./redis/data:/data
    user: "8001:8001"
    networks:
      - authelia
networks:
  authelia:
    name: authelia
    driver: bridge
    external: false
  traefik:
    external: true
