services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped
    ipc: private
    expose:
      - 9091
    volumes:
      - /opt/docker/authelia/authelia_config:/config:ro
    environment:
      TZ: "${TZ}"
      AUTHELIA_SESSION_REDIS_PASSWORD_FILE: "${AUTHELIA_REDIS_PASS}"
    user: "${DOCKER_PUID}:${DOCKER_PGID}"  
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - authelia_redis
    networks:
      - authelia

  authelia-redis:
    image: bitnami/redis:latest
    container_name: authelia-redis
    restart: unless-stopped
    ipc: private
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    expose:
      - 6379
    command: "redis-server --requirepass ${AUTHELIA_REDIS_PASS}"
    volumes:
      - ./redis/data:/bitnami
    user: "8001:8001"
    networks:
      - authelia