x-versions:
  netbox: &netbox-version "netboxcommunity/netbox:v4.5.2"
  valkey: &valkey-version "docker.io/valkey/valkey:8.0.0-alpine"
  postgres: &postgres-version "postgres:18-alpine"

x-netbox-common: &netbox-common
  image: *netbox-version
  ipc: private
  user: "${DOCKER_PUID}:${DOCKER_PGID}"
  security_opt:
    - no-new-privileges=true
  restart: unless-stopped
  cap_add:
    - AUDIT_WRITE
    - CHOWN
    - DAC_OVERRIDE
    - FOWNER
    - FSETID
    - KILL
    - MKNOD
    - NET_BIND_SERVICE
    - NET_RAW
    - SETFCAP
    - SETGID
    - SETPCAP
    - SETUID
    - SYS_CHROOT
  cap_drop:
    - ALL
  logging:
    driver: json-file
    options:
      max-size: "10m"
      max-file: "3"
  environment:
    TZ: "${TZ}"
    DB_HOST: "netbox-postgres"
    DB_NAME: "netbox"
    DB_USER: "netbox"
    DB_PASSWORD: "${NETBOX_DB_PASS}"
    REDIS_HOST: "netbox-valkey"
    REDIS_PORT: "6379"
    SECRET_KEY: "${NETBOX_SECRET_KEY}"
    ALLOWED_HOSTS: "10.10.1.13"
    CSRF_TRUSTED_ORIGINS: "http://10.10.1.13:3004"
    SKIP_SUPERUSER_CHECK: "true"
  volumes:
    - /opt/docker/netbox/netbox_media:/opt/netbox/netbox/media:z
    - /opt/docker/netbox/netbox_reports:/opt/netbox/netbox/reports:z
    - /opt/docker/netbox/netbox_scripts:/opt/netbox/netbox/scripts:z
    - /opt/docker/netbox/netbox_config:/etc/netbox/config
  networks:
    - netbox

services:
  netbox:
    <<: *netbox-common
    container_name: netbox
    depends_on:
      netbox-valkey:
        condition: service_healthy
      netbox-postgres:
        condition: service_healthy
    ports:
      - "3004:8080/tcp"
    networks:
      - netbox
    labels:
      homepage.group: "Infrastructure"
      homepage.name: "NetBox"
      homepage.icon: "netbox.png"
      homepage.href: "http://10.10.1.13:3004"
      homepage.description: "IPAM / DCIM"
      homepage.siteMonitor: "http://10.10.1.13:3004"
      wud.watch: "true"
      wud.display.name: "NetBox"
      wud.display.icon: "sh:netbox"
      repliqate.enabled: 'true'
      repliqate.engine: "restic"
      repliqate.backup_id: netbox_app

  netbox-worker:
    <<: *netbox-common
    container_name: netbox-worker
    entrypoint: [ "python3", "manage.py", "rqworker" ]
    working_dir: /opt/netbox/netbox
    depends_on:
      netbox:
        condition: service_started
    labels:
      wud.watch: "true"
      wud.display.name: "NetBox Worker"
      wud.display.icon: "sh:netbox"

  netbox-housekeeping:
    <<: *netbox-common
    container_name: netbox-housekeeping
    entrypoint: [ "python3", "manage.py", "housekeeping" ]
    working_dir: /opt/netbox/netbox
    depends_on:
      - netbox

  netbox-postgres:
    image: *postgres-version
    container_name: netbox-postgres
    ipc: private
    security_opt:
      - no-new-privileges=true
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    cap_add:
      - CHOWN
      - FOWNER
      - DAC_OVERRIDE
      - SETUID
      - SETGID
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d netbox -U netbox"]
      start_period: 20s
      timeout: 30s
      interval: 10s
      retries: 5
    labels:
      wud.watch: "true"
      wud.tag.include: '^18-\d+-alpine$$'
      wud.display.name: "NetBox - Postgres"
    environment:
      POSTGRES_DB: "netbox"
      POSTGRES_USER: "netbox"
      POSTGRES_PASSWORD: "${NETBOX_DB_PASS}"
    volumes:
      - /opt/docker/netbox/postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - netbox
      - adminer

  netbox-valkey:
    container_name: netbox-valkey
    image: *valkey-version
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    ipc: private
    command: ['valkey-server','--save','60','1','--loglevel','warning']
    restart: unless-stopped
    networks:
      - netbox
    volumes:
      - /opt/docker/netbox/valkey_data:/data
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - CHOWN
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    labels:
      wud.display.name: "NetBox - Valkey"
      wud.watch: "true"
    healthcheck: 
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

networks:
  netbox:
    name: netbox
    driver: bridge
  adminer:
    external: true
  traefik:
    external: true