services:
  omnitools:
    image: iib0011/omni-tools:0.4.0
    container_name: omnitools
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.omnitools.rule: "Host(`omnitools.${DOMAIN_NAME}`)"
      traefik.http.routers.omnitools.entrypoints: "websecure"
      traefik.http.routers.omnitools.tls: "true"
      traefik.http.routers.omnitools.tls.certresolver: "letsencrypt"
      traefik.http.routers.omnitools.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.omnitools.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.omnitools.middlewares: "secHeaders@file"
      traefik.http.services.omnitools.loadbalancer.server.port: "80"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.icon: "sh-omnitools"
      wud.display.name: "Omni Tools"
      wud.tag.include: '^v\d+\.\d+\.\d+$'
      wud.link.template: "https://github.com/iib0011/omni-tools/releases/tag/v$${major}.$${minor}.$${patch}"
      homepage.group: "Infrastructure"
      homepage.name: "Omni Tools"
      homepage.icon: "sm-omnitools"
      homepage.href: "https://omnitools.${DOMAIN_NAME}"
      homepage.description: "Set of different IT tools"
    ports:
      - "8586:80"
    networks:
      - omnitools
      - traefik
networks:
  omnitools:
    name: omnitools
    driver: bridge
    external: false
  traefik:
    external: true