services:
  omnitools:
    image: iib0011/omni-tools:latest
    container_name: omnitools
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.omnitools.rule=Host(`omnitools.${DOMAIN_NAME}`)"
      - "traefik.http.routers.omnitools.entrypoints=websecure"
      - "traefik.http.routers.omnitools.tls=true"
      - "traefik.http.routers.omnitools.tls.certresolver=letsencrypt"
      - "traefik.http.services.omnitools.loadbalancer.server.port=80"
    ports:
      - "8586:80"
    networks:
      - omnitools
      - traefik
networks:
  omnitools:
    name: omnitools
    driver: bridge
    external: false
  traefik:
    external: true