services:
  languagetool:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command: ['bash','start.sh']
    container_name: languagetool
    environment:
      LANGUAGE: "en_GB:en"
      EXTRAOPTIONS: "-Xmx382M"
    hostname: languagetool
    image: silviof/docker-languagetool:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - languagetool
      - traefik
    ports:
      - 8010:8010/tcp
    labels:  
      - "traefik.enable=true"
      - "traefik.http.routers.languagetool.rule=Host('spellcheck.${DOMAIN_NAME}')"
      - "traefik.http.routers.languagetool.entrypoints=websecure"
      - "traefik.http.routers.languagetool.tls=true"
      - "traefik.http.routers.languagetool.tls.certresolver=letencrypt"
      - "traefik.http.services.languagetool.loadbalancer.server.port=8010"
    restart: unless-stopped
    user: nobody
    volumes:
      - /Data/IT/languagetool_ngrams:/ngrams:ro
    working_dir: /LanguageTool-6.6
    deploy:
      resources:
        limits:
          memory: 412m
    memswap_limit: 500m
networks:
  languagetool:
    name: languagetool
    driver: bridge
    external: false
  traefik:
    external: true