services:
  uptime-kuma-signal-api-bridge:
    image: bbernhard/signal-cli-rest-api:0.93
    container_name: uptime-kuma-signal-api-bridge
    ipc: private
    security_opt:
      - no-new-privileges:true
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    networks:
      - uptime-kuma
    environment:
      MODE: "normal" #supported modes: json-rpc, native, normal
      SIGNAL_CLI_UID: "${DOCKER_PUID}"
      SIGNAL_CLI_GID: "${DOCKER_PGID}"
      #- AUTO_RECEIVE_SCHEDULE=0 22 * * * #enable this parameter on demand (see description below)
    volumes:
      - "/opt/docker/uptime-kuma/uptime-kuma_signal:/home/.local/share/signal-cli"
    ports:
      - 3001:3001/tcp
  uptime-kuma-socket-proxy:
    image: tecnativa/docker-socket-proxy:0.3.0
    container_name: uptime-kuma-socket-proxy
    restart: unless-stopped
    ipc: private
    security_opt:
      - no-new-privileges:true
    mem_limit: 64M
    cap_drop:
      - ALL
    networks:
      - uptime-kuma
    environment:
      CONTAINERS: "1"
      SERVICES: "1"
      TASKS: "0"
      POST: "0"
    labels:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/Tecnativa/docker-socket-proxy/releases/tag/v$${major}.$${minor}.$${patch}'
      wud.display.name: 'Docker Socket Proxy - Uptime Kuma'
      wud.display.icon: 'mdi:connection'
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "2375"]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      
  uptime-kuma:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - MKNOD
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command: ['node','server/server.js']
    container_name: uptime-kuma
    entrypoint: ['/usr/bin/dumb-init','--','extra/entrypoint.sh']
    hostname: uptime-kuma
    image: louislam/uptime-kuma:1.23.16
    ipc: private
    labels:
      homepage.group: "Infrastructure"
      homepage.name: "Uptime-Kuma"
      homepage.icon: "uptime-kuma"
      homepage.href: "http://10.10.1.13:3001"
      homepage.siteMonitor: "http://10.10.1.13:3001"
      homepage.widget.type: "uptimekuma"
      homepage.widget.url: "http://uptime-kuma:3001"
      homepage.widget.slug: "dashboard"
      homepage.widget.fields: "['up', 'down', 'uptime', 'incident']"
      wud.watch: 'true'
      wud.display.icon: 'sh-uptime-kuma'
      wud.display.name: 'Uptime Kuma'
      wud.tag.include: '^\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/louislam/uptime-kuma/releases/tag/v$${major}.$${minor}.$${patch}'
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: curl -f http://localhost:3001 || exit 1
    networks:
      - uptime-kuma
    ports:
      - 3001:3001/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/uptime-kuma/uptime-kuma_data:/app/data
    working_dir: /app
networks:
  uptime-kuma:
    name: uptime-kuma
    driver: bridge
    external: false