services:
  uptime-kuma:
    cap:add:
      - SETGID
    cap_drop:
      - ALL
    command: ['node','server/server.js']
    container_name: uptime-kuma
    entrypoint: ['/usr/bin/dumb-init','--','extra/entrypoint.sh']
    hostname: uptime-kuma
    image: louislam/uptime-kuma:1
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - uptime-kuma
    ports:
      - 3001:3001/tcp
    restart: unless-stopped
    volumes:
      - /opt/docker/uptime-kuma/uptime-kuma_data:/app/data
    working_dir: /app
networks:
  uptime-kuma:
    name: uptime-kuma
    driver: bridge
    external: false
