services:
  tandoor:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: tandoor
    entrypoint: ['/opt/recipes/boot.sh']
    environment:
      DB_ENGINE: "django.db.backends.postgresql"
      SECRET_KEY: "${TANDOOR_SECRET_KEY}"
      POSTGRES_HOST: "10.10.1.13"
      POSTGRES_PORT: "5432"
      POSTGRES_USER: "tandoor"
      POSTGRES_PASSWORD: "${TANDOOR_DB_PASSWORD}"
      POSTGRES_DB: "tandoor"
      ALLOWED_HOSTS: "recipes.${DOMAIN_NAME},127.0.0.1"
      GUNICORN_MEDIA: "1"
    hostname: tandoor
    image: vabene1111/recipes:2.3.3
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8080 | grep -q 'Login' || exit 1"]
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
    networks:
      - tandoor
      - traefik
    ports:
      - 1244:8080/tcp
    labels:
      traefik.enable: "true"
      traefik.http.routers.tandoor.entrypoints: websecure
      traefik.http.routers.tandoor.rule: Host(`recipes.${DOMAIN_NAME}`)
      traefik.http.routers.tandoor.tls: "true"
      traefik.http.routers.tandoor.tls.certresolver: letsencrypt
      traefik.http.routers.tandoor.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.tandoor.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.tandoor.middlewares: "secHeaders@file"
      traefik.http.services.tandoor.loadbalancer.server.port: "8080"
      homepage.group: "Home"
      homepage.name: "Tandoor"
      homepage.icon: "tandoor-recipes.png"
      homepage.href: "https://recipes.${DOMAIN_NAME}"
      homepage.description: "Recipe manager"
      wud.watch: "true"
      wud.watch.digest: "true"
      wud.display.name: "Tandoor"
      wud.display.icon: "sh:tandoor-recipes"
      wud.tag.include: '^\d+\.\d+\.\d+$'
      wud.link.template: 'https://github.com/TandoorRecipes/recipes/releases/tag/$${major}.$${minor}.$${patch}'
    restart: unless-stopped
    volumes:
      - /opt/docker/tandoor/tandoor_static:/opt/recipes/staticfiles
      - /opt/docker/tandoor/tandoor_media:/opt/recipes/mediafiles
    working_dir: /opt/recipes
networks:
  tandoor:
    external: false
    name: tandoor
    driver: bridge
  traefik:
    external: true
    