services:
  unifi-db:
    
    image: docker.io/mongo:8
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    container_name: unifi-db
    volumes:
      - /opt/docker/unifi/unifi_db:/data/db
      - /opt/docker/unifi/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:latest
    container_name: unifi-network-application
    environment:
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
      TZ: "${TZ}"
      MONGO_USER: "unifi"
      MONGO_PASS: "${MONGO_PASS}"
      MONGO_HOST: "unifi-db"
      MONGO_PORT: "27017"
      MONGO_DBNAME: "unifi"
      MEM_LIMIT: "1024" #optional
      MEM_STARTUP: "1024" #optional
    volumes:
      - ./config:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 9080:8080
#     - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped