services:
  unifi-db:
    image: docker.io/mongo:8.2.2
    user: "${DOCKER_PUID}:${DOCKER_PGID}"
    container_name: unifi-db
    labels:
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/mongodb/mongo/releases/tag/r$${major}.$${minor}.$${patch}'
      wud.display.name: 'Unifi Network Application - Mongo DB'
      wud.display.icon: 'sh:ubiquiti-unifi-dark'
    volumes:
      - /opt/docker/unifi/unifi_db:/data/db
      - /opt/docker/unifi/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:9.5.21
    container_name: unifi-network-application
    environment:
      PUID: "${DOCKER_PUID}"
      PGID: "${DOCKER_PGID}"
      TZ: "${TZ}"
      MONGO_USER: "unifi"
      MONGO_PASS: "${MONGO_PASS}"
      MONGO_HOST: "unifi-db"
      MONGO_PORT: "27017"
      MONGO_DBNAME: "unifi"
      MEM_LIMIT: "1024" #optional
      MEM_STARTUP: "1024" #optional
    labels:
      homepage.description: "WiFi management"
      homepage.group: "Infrastructure"
      homepage.href: "https://10.10.1.13:8443"
      homepage.icon: "sh-ubiquiti-unifi-dark.png"
      homepage.name: "Unifi Network Application"
      homepage.widget.type: "unifi"
      homepage.widget.url: "https://10.10.1.13:8443"
      homepage.widget.username: "${HOMEPAGE_UNIFI_USER}"
      homepage.widget.password: "${HOMEPAGE_UNIFI_PASS}"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.link.template: 'https://github.com/linuxserver/docker-unifi-network-application/releases/tag/$${major}.$${minor}.$${patch}'
      wud.display.name: 'Unifi Network Application'
      wud.display.icon: 'sh:ubiquiti-unifi-dark'
      repliqate.enabled: 'true'
      repliqate.engine: "restic"
      repliqate.schedule: "@weekly 3am" # Trigger every day at 3 am
      repliqate.backup_id: unifi
      repliqate.retention: "90d" # Keep backups for 30 days
    volumes:
      - ./config:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 9080:8080
#     - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped