services:
  audiobookshelf:
    user: "${MEDIA_PUID}:${MEDIA_PGID}"
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    command: ['node','index.js']
    container_name: audiobookshelf
    entrypoint: ['tini','--']
    hostname: audiobookshelf
    image: advplyr/audiobookshelf:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - audiobookshelf
    ports:
      - 3378:80/tcp
    restart: unless-stopped
    volumes:
      - /Data/Ebooks/Audiobooks:/audiobooks
      - /opt/docker/audiobookshelf/audiobookshelf_config:/config
      - /opt/docker/audiobookshelf/audiobookshelf_metadata:/metadata
      - /Data/Ebooks/Podcasts:/podcasts
    working_dir: /
networks:
  audiobookshelf:
    name: audiobookshelf
    driver: bridge
    external: false