services:
  audiobookshelf:
    user: "${MEDIA_PUID}:${MEDIA_PGID}"
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: audiobookshelf
    hostname: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - audiobookshelf
      - traefik
    ports:
      - 3378:80/tcp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.audiobookshelf.rule=Host(`audiobooks.${DOMAIN_NAME}`)"
      - "traefik.http.routers.audiobookshelf.entrypoints=websecure"
      - "traefik.http.routers.audiobookshelf.tls=true"
      - "traefik.http.routers.audiobookshelf.tls.certresolver=letsencrypt"
      - "traefik.http.services.audiobookshelf.loadbalancer.server.port=80"
    volumes:
      - /Data/Ebooks/Audiobooks:/audiobooks:ro
      - /opt/docker/audiobookshelf/audiobookshelf_config:/config
      - /opt/docker/audiobookshelf/audiobookshelf_metadata:/metadata
      - /Data/Ebooks/Podcasts:/podcasts:ro
    working_dir: /
networks:
  audiobookshelf:
    name: audiobookshelf
    driver: bridge
    external: false
  traefik:
    name: traefik
    external: true