services:
  #############################################################################
  # Audiobookshelf
  # Audiobook library manager
  #############################################################################  
  audiobookshelf:
    user: "${MEDIA_PUID}:${MEDIA_PGID}"
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - ALL
    container_name: audiobookshelf
    hostname: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:2.28.0
    ipc: private
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - audiobookshelf
      - traefik
    ports:
      - 3378:80/tcp
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.audiobookshelf.rule: "Host(`audiobooks.${DOMAIN_NAME}`)"
      traefik.http.routers.audiobookshelf.entrypoints: "websecure"
      traefik.http.routers.audiobookshelf.tls: "true"
      traefik.http.routers.audiobookshelf.tls.certresolver: "letsencrypt"
      traefik.http.routers.audiobookshelf.tls.domains[0].main: "${DOMAIN_NAME}"
      traefik.http.routers.audiobookshelf.tls.domains[0].sans: "*.${DOMAIN_NAME}"
      traefik.http.routers.audiobookshelf.middlewares: "secHeaders@file"
      traefik.http.services.audiobookshelf.loadbalancer.server.port: "80"
      homepage.group: "Media"
      homepage.name: "Audiobookshelf"
      homepage.icon: "audiobookshelf.png"
      homepage.href: "https://audiobooks.${DOMAIN_NAME}"
      homepage.description: "E-book catalogue"
      homepage.widget.fields: "['podcasts', 'podcastsDuration', 'books', 'booksDuration']"
      homepage.widget.type: "audiobookshelf"
      homepage.widget.url: "http://10.10.1.13:3378"
      homepage.widget.key: "${HOMEPAGE_AUDIOBOOKSHELF_API}"
      wud.watch: "true"
      wud.tag.include: '^v?\d+\.\d+\.\d+$$'
      wud.display.name: "Audiobookshelf"
      wud.display.icon: "sh:audiobookshelf"
      wud.link.template: "https://github.com/advplyr/audiobookshelf/releases/$${major}.$${minor}.$${patch}"
    volumes:
      - /opt/docker/audiobookshelf/audiobookshelf_config:/config
      - /opt/docker/audiobookshelf/audiobookshelf_metadata:/metadata
      - /Data/Ebooks/Audiobooks:/audiobooks:ro
      - /Data/Ebooks/Podcasts:/podcasts:ro
networks:
  audiobookshelf:
    name: audiobookshelf
    driver: bridge
    external: false
  traefik:
    name: traefik
    external: true